/*
Theme Name:        Shuttle Education
Text Domain:       shuttle-education
Template:          shuttle
Version:           1.0.1
Requires at least: 5.0
Requires PHP:      5.6
Tested up to:      6.0
Description:       Shuttle Education is the awesome free version of Shuttle Pro, perfect for photography. It is really good for professionals. If you want to make a business, for big or small this theme is good for you. So if it is a restaurant, sport, medical, startup, corporate, business, ecommerce, portfolio, freelancers or any type of online agency or firm you will want to use this cool design. It had a multi-purpose design with widget areas in footer, so now even easy to make blog / news website which looks really clean and professional. The theme is responsive, WPML, Polylang, Retina ready, SEO friendly, and is a super design. Shuttle is fast and lightweight and can be used for any type of website, fully compatible with eCommerce plugins like WooCommerce an JigoShop. Whether you are building a website for yourself, your business or are a freelancer building websites for your cliente, Shuttle is the perfect choice. Plus if works with all the major page builders such as Elementor, Beaver Builder, Visual Composer, Divi, SiteOrigin and so much more!
Tags:              one-column, two-columns, three-columns, right-sidebar, left-sidebar, custom-header, custom-menu, full-width-template, theme-options, threaded-comments, editor-style, featured-images, featured-image-header, post-formats, sticky-post, translation-ready, flexible-header, custom-background, grid-layout, footer-widgets, blog, e-commerce, portfolio, rtl-language-support
Author:            Shuttle Themes
Author URI:        https://www.shuttlethemes.com
Theme URI:         https://shuttlethemes.com/features-education/
License:           GPLv2 or later
License URI:       https://www.gnu.org/licenses/gpl-2.0.html
*/

/* Sub-header Style */
#pre-header {
	background-color: #fff;	
	border-bottom: 1px solid #eee;
}
#pre-header .header-links > ul > li:before {
	content: '|';
}
#pre-header .header-links > ul > li > a {
	color: #7a7a7a;
}
#pre-header .header-links .menu-hover > a,
#pre-header .header-links > ul > li > a:hover {
	color: #13aff0 !important;
	background-color: transparent;
}
#pre-header .header-links li a,
#pre-header-social li, #pre-header-social li a {
	color: #7a7a7a !important;
}
#pre-header-social li, #pre-header-social li a:hover {
	color: #13aff0 !important;
	background-color: transparent !important;
}
#pre-header .header-links li a:hover {
	color: #aaa !important;
}
#pre-header .header-links .sub-menu a {
	color: #fff !important;
}
#pre-header .header-links .sub-menu a:hover {
	color: #fff !important;
	opacity: 0.75;
}
#pre-header .header-links .sub-menu .sub-menu {
	background-color: #13aff0;
	margin-top: 1px;
	border-left: 1px solid #fff;
}
#pre-header-social li:last-child,
#pre-header-social li:last-child a {
	border-right: none;
}
#pre-header-social li a {
	border-left: none;
	color: #fff;
}
#pre-header .header-links .sub-menu {
	background-color: #13aff0;
	box-shadow: none;
	border: none;
	border-radius: 0px;
}
/* Header Style */
#header,
#header-sticky {
	position: relative;
	background-color: #fff;
	border-bottom: none;
}
#header .header-links > ul > li a,
#header-sticky .header-links > ul > li a {
	transition: all 400ms;
	position: relative;
}
#header .header-links .sub-menu,
#header-sticky .header-links .sub-menu {
	min-width: 200px!important;
}
#header .header-links .sub-menu a,
#header-sticky .header-links .sub-menu a {
	padding: 2px 0px;
	color: #fff;
}
#header .header-links .sub-menu a:hover,
#header-sticky .header-links .sub-menu a:hover {
	color: #fff !important;
	opacity: 0.75;
}
#header .header-links .sub-menu,
#header-sticky .header-links .sub-menu {
	background-color: #13aff0;
	margin-top: -15px;
	border-radius: 0px;
	border: none;
}
#header .sub-menu li,
#header-sticky .sub-menu li {
	border: none;
}
#header .header-links .sub-menu .sub-menu,
#header-sticky .header-links .sub-menu .sub-menu {
	margin-top: 1px;
	border-left: 1px solid #fff;
}
#header .header-links .sub-menu a:hover,
#header .header-links .sub-menu .current-menu-item a,
#header-sticky .header-links .sub-menu a:hover,
#header-sticky .header-links .sub-menu .current-menu-item a {
	color: #13aff0;
}

/* Cta Style */
#body-core {
	background-color: #fff;
}
#introaction-core,
#outroaction-core,
.sc-action-core {
	position: relative;
	padding: 40px 30px;
	border-radius: 25px;
	border: 2px solid #eee;
	background-color: #fff;
}
#introaction-core .three_fourth,
#introaction-core .one_fourth {
	margin: 0;
	float: none;
	text-align: center;
	width: 100%;
}
.action-text h3 {
	color: #1e1e1e;
	font-size: 36px;
	font-weight: 700;
}
.action-teaser p {
	color: #4a4a4a;
}
.action-link a {
	font-size: 13px;
	border-radius: 5px;
	margin-top: 20px;
	padding: 8px 15px;
	transition: all .4s;
	background-color: #13aff0;
	border-radius: 30px;
	border-bottom: none;
	color: #fff;
	position: relative;
}
.action-link a:hover {
	color: #fff;
	background-color: #13aff0 !important;
	box-shadow: none;
	border-bottom: none;
	opacity: 0.8;
}

/* Featured Style */
#section-home {
	margin-bottom: 30px;
}
.iconimage {
	border-radius: 25px 25px 0px 0px;
	overflow: hidden;
}
.services-builder.style1 {
	border-radius: 25px;
	border: 2px solid #eee;
	background-color: #fff;
	text-align: center;
}
.services-builder.style1 h3 {
	color: #1e1e1e;
}
.services-builder.style1 p {
	color: #4a4a4a;
}
.services-builder.style1 .iconimage img {
	border-radius: 5px 5px 0px 0px;
}
.services-builder.style1 .iconmain {
	position: relative;
	border: none;
	text-align: left;
	padding: 30px;
}
.services-builder.style1 .iconurl a {
	font-size: 13px;
	border-radius: 30px;
	margin-top: 20px;
	padding: 8px 15px;
	transition: all .4s;
	background-color: #13aff0;
	color: #fff;
	border: none;
	text-decoration: none !important;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}
.services-builder.style1 .iconurl a:hover {
	opacity: 0.8;
	color: #fff;
	background-color: #13aff0;
	box-shadow: none;
}

/* Footer style */
footer {
	border-top: none;
}
#footer {
	background-color: #13aff0;
	position: relative;
	border-top: none;
}
#footer-core h2 {
	color: #fff;
	font-size: 18px;
	font-weight: 700;
}
#footer .widget ul li a:before {
	display: none;
}
#footer-core,
#footer-core p {
	color: #fff;
}
#footer .wp-block-latest-comments__comment-date,
#footer .wp-block-latest-posts__post-author,
#footer .wp-block-latest-posts__post-date {
	color: #fff;
}
#footer .widget ul li a,
#footer .widget li a {
	color: #fff;
	font-weight: 500;
	font-size: 15px;
	text-decoration: none;
}
#footer .widget ul li a:hover,
#footer .widget li a:hover {
	opacity: 0.8;
	color: #fff;
}
#footer .widget ul li span {
	display: block;
	color: #fff;
	font-size: 13px;
	font-weight: 400;
}
#footer .widget li {
	border-bottom: 1px solid rgba(250, 250, 250, 0.3);
}
#footer .widget li:last-child {
	border-bottom: none;
}
#footer .widget_recent_entries ul li,
#footer .widget_recent_comments ul li {
	margin-bottom: 15px;
}
#footer .widget ul li:last-child {
	margin-bottom: 0px;
}
#footer .widget_tag_cloud a {
	background-color: transparent;
	border: 1px solid #fff;
	color: #fff;
	border-radius: 25px;
}
#footer .widget_tag_cloud a:hover {
	color: #13aff0;
	background-color: #fff;
}
#footer input[type=text],
#footer input[type=email],
#footer input[type=password],
#footer input[type=search],
#footer input[type=tel],
#footer select,
#footer textarea {
	background-color: rgba(0, 0, 0, 0.1) !important;
	border: none !important;
	border-radius: 5px;
	color: #fff;
	padding: 5px 15px;
}
#footer .widget_search button {
	background-color: #fff;
	border: none;
	border-radius: 5px;
	color: #13aff0;
	font-weight: 600;
}
#footer .widget_search button:hover {
	color: #13aff0;
	background-color: #fff !important;
	opacity: 0.8;
}

/* Sub footer style */
#sub-footer {
	background-color: #13aff0;
	border-top: 1px solid rgba(250, 250, 250, 0.3);
	color: #fff;
}
#sub-footer a {
	color: #fff;
	text-decoration: none;
}
#sub-footer a:hover {
	color: #fff;
	opacity: 0.8;
}
#footer-menu li:after {
	display: none;
}

/* Page heading style */
#intro {
	border-top: none;
	border-bottom: none;
	padding: 60px 0px;
	background-color: #e4eff0;
}
#intro .page-title {
	color: #1e1e1e;
	font-size: 28px;
	font-weight: 700;
}
#intro .page-title span {
	background-color: transparent;
	padding: 0px;
}
#intro #breadcrumbs {
	color: #4a4a4a;
	font-weight: 500;
}
#intro #breadcrumbs-core {
	background-color: transparent;
	padding: 0px;
}
#intro #breadcrumbs-core a {
	color: #4a4a4a;
}

/*Side Bar Style */
.widget_search .search input,
input[type=text],
input[type=email],
input[type=password],
input[type=search],
input[type=tel],
select,
textarea {
	border: none !important;
	background-color: #eee !important;
	border-radius: 50px;
	outline: none;
}
#sidebar .wp-block-search__button {
	border-radius: 50px;
	background-color: #13aff0;
	color: #fff;
	border: none;
}
#sidebar .wp-block-search__button:hover {
	opacity: 0.8;
}
#sidebar .widget {
	overflow: hidden;
}
#sidebar .widget_search {
	background-color: transparent;
	padding: 0px !important;
	box-shadow: none !important;
}
#sidebar .widget_search::after,
#sidebar .widget_search::before {
	display: none;
}
#sidebar h2 {
	display: inline-block;
	margin-top: 0px;
	padding: 0px;
	width: 100%;
	font-size: 17px;
	color: #1e1e1e;
	text-transform: capitalize;
	z-index: 2;
	position: relative;
}
#sidebar .widget_search:after {
	display: none;
}
#sidebar .widget li a {
	font-size: 15px;
	text-decoration: none;
	font-weight: 400;
	color: #1e1e1e;
}
#sidebar .widget li a:hover {
	color: #13aff0;
}
#sidebar .widget li span {
	display: block;
	font-size: 13px;
	font-weight: 600;
	color: #aaa;
}
#sidebar .widget_recent_entries ul li,
#sidebar .widget_recent_comments ul li {
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#sidebar .widget ul li,
#sidebar .widget li {
	border-bottom: 1px solid #eee;
	margin-bottom: 5px;
	padding-bottom: 5px;
}
#sidebar .widget ul li:last-child, 
#sidebar .widget li:last-child {
	margin-bottom: 0px;
	border-bottom: none;
	padding-bottom: 0px;
}
#sidebar .widget_tag_cloud a {
	background-color: #fff;
	border: 1px solid #eee;
	color: #4a4a4a;
	border-radius: 25px;
}
#sidebar .widget_tag_cloud a:hover {
	background-color: #13aff0;
	border-color: #13aff0;
	color: #fff;
}
footer.wp-block-latest-comments__comment-meta {
	background-color: transparent;
}

/* Blog Posts Style */
.blog-style2 #content,
.layout-sidebar-right #sidebar {
	background-color: #fff;
	background: #fff;
	border: none;
}
.layout-sidebar-right #sidebar {
	box-shadow: none;
}
.blog-style2 .blog-grid.column-2 {
	padding: 15px;
}
.blog-style2 .blog-article {
	border: none;
	position: relative;
	border: 2px solid #eee;
	border-radius: 25px;
}
.blog-style2 .blog-article .entry-content {
	text-align: left;
	padding: 40px 30px 15px 30px;
	position: relative;
}
.blog-style2 .blog-article .entry-content p {
	color: #4a4a4a;
}
.blog-thumb img {
	border-radius: 25px 25px 0px 0px;
	overflow: hidden;
}
.blog-article .more-link {
	padding-top: 0px;
}
.blog-article .more-link a {
	font-size: 13px;
	border-radius: 30px;
	margin-top: 20px;
	padding: 8px 15px;
	transition: all .4s;
	background-color: #13aff0;
	color: #fff;
	border: none;
	text-decoration: none !important;
	font-weight: 600;
	text-transform: uppercase;
	position: relative;
}
.blog-article .more-link a:hover {
	opacity: 0.8;
	color: #fff;
	background-color: #13aff0 !important;
	box-shadow: none;
}
.blog-article .entry-meta a,
.blog-article.sticky .entry-meta i,
.blog-article.sticky .entry-meta a {
	color: #7a7a7a;
}
.blog-article.sticky .entry-meta a:hover {
	color: #13aff0;
}
.blog-article .entry-meta > span:before {
	content: '|';
	color: #aaa;
}
.blog-article .entry-meta > span {
	text-transform: none;
	font-size: 13px;
}
.blog-article .entry-meta > span.date {
	position: absolute;
	left: 30px;
	top: 15px;
	text-transform: uppercase;
}
.blog-article .entry-meta > span.date a {
	font-size: 14px;
	font-weight: 400;
	color: #13aff0;
	text-decoration: none !important;
}
.blog-style2 .blog-article .blog-title {
	margin-top: 10px;
	font-size: 22px;
	text-transform: none;
	color: #1e1e1e;
}
.blog-article .blog-title a {
	text-decoration: none !important;
	color: #1e1e1e;
}
.blog-article.sticky .blog-title a {
	color: #1e1e1e;
	text-decoration: none !important;
}
.blog-article.sticky .entry-content p {
	color: #4a4a4a;
}
.blog-article.sticky {
	background: transparent !important;
}


/* Blog Page Navigation Style */
.navigation.pagination .nav-links a,
.navigation.pagination .nav-links span {
	color: #1e1e1e;
	font-weight: 700;
	border: 2px solid #eee;
	background-color: transparent;
	border-radius: 50%;
	text-decoration: none !important;
}
.navigation.pagination .nav-links a:hover,
.navigation.pagination .nav-links a.current,
.navigation.pagination .nav-links span:hover,
.navigation.pagination .nav-links span.current {
	background: #13aff0;
	color: #fff;
}

/* Single Post Style */
.single .entry-header {
	border: none;
	background-color: #fff;
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
}
.single .entry-content {
	position: relative;
	background-color: #fff;	
	border: none;
	color: #4a4a4a;
	padding: 0px;
	margin-bottom: 0px;
	margin-bottom: 30px;
	border-radius: 0px 0px 5px 5px;
}
.single .entry-meta {
	margin-top: 0px!important;
}
.single .entry-meta > span:before {
	content: '|';
	color: #ddd;
}
.single .entry-meta > span {
	text-transform: none;
	font-size: 13px;
}
.single .entry-meta > span a {
	text-decoration: none !important;
}
.single .entry-meta{
	text-align: left;
	margin-top: 45px;
}
.nav-previous a,
.nav-next a {
	text-transform: uppercase;
	border-radius: 0px;
	font-weight: 700;
	text-decoration: none !important;
	background-color: transparent;
	color: #fff;
	border: none;
	font-size: 13px;
	transition: all .4s;
}
.nav-previous a:hover,
.nav-next a:hover {
	opacity: 0.8;
	color: #fff;
	background-color: transparent;
	box-shadow: none;
}
#nav-above,
#nav-below {
	background-color: #13aff0;
	border-radius: 60px;
	padding: 30px 30px 75px 30px;
	position: relative;
}
#nav-above:after,
#nav-below:after {
	position: absolute;
	content: '';
	width: 3;
	height: 10px;
	background-color: #e0f0f6;
	left: -10px;
	bottom: -10px;
}

/* Comments & Leave Comment Style */
#comments-title h3,
#reply-title {
	text-align: left;
	font-size: 22px;
	font-weight: 700;
	text-transform: capitalize;
	background-color: #fff;
	color: #1e1e1e;
	border-radius: 5px 5px 0px 0px;
	margin-bottom: 0px;
	padding: 0px;
}
#reply-title {
	padding: 0px 0px 15px 0px;
}
.commentlist article.comment {
	border-bottom: 1px solid #eee;
}
.comment-author h4 {
	color: #1e1e1e;
}
.commentlist .comment,
.commentlist .pingback {
	margin-top: 0px;
	border-radius: 0px 0px 5px 5px;
	box-shadow: none !important;
	padding: 0px;
	margin-bottom: 0px;
}
.commentlist article footer {
	background-color: transparent;
	border-top: none;
}
.comment .reply {
	float: right;
}
li.comment article {
	margin-bottom: 0px !important;
}
.comment .reply a {
	font-size: 11px;
	text-transform: uppercase;
	font-weight: 700;
	color: #13aff0;
	border: none;
	text-decoration: none !important;
}
.comment .reply a:hover {
	border: none;
	color: #13aff0 !important;
	background-color: transparent !important;
}
.commentlist .avatar {
	width: 80px;
	height: 80px;
	border-radius: 5px;
	border: none;
	margin: 0;
	margin-bottom: 20px;
}
.commentlist article header {
	text-align: left;
}
.comment-content {
	text-align: left;
}
.commentlist .children article:before {
	display: none;
}
.comment .reply a:hover {
	background-color: #1e1e1e;
	color: #fff;
}
#commentform input[type="text"],
#commentform textarea {
	border: none;
	background-color: #fff !important;
	border: 1px solid #eee !important;
	outline: none;
	border-radius: 0px;
}
#commentform input[type="text"]:focus,
#commentform textarea:focus {
	background-color: #fff;
}
.logged-in-as a {
	color: #13aff0;
}
.logged-in-as a:hover {
	color: #13aff0;
}
.comment-respond .form-submit {
	text-align: left;
}
#respond {
	background-color: #fff;
	border-radius: 0px;
	padding: 0px;
}
#commentform input[type="text"],
#commentform textarea {
	background-color: #eee !important;
	border: 1px solid #cdcdcd !important;
	border-radius: 5px;
}
.themebutton,
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	font-size: 13px;
	border-radius: 30px;
	font-weight: 700;
	padding: 8px 15px;
	transition: all .4s;
	background-color: #13aff0;
	border: none;
	color: #fff;
	position: relative;
}
.themebutton:hover,
button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover {
	color: #fff;
	background-color: #13aff0 !important;
	box-shadow: none;
	border-bottom: none;
	opacity: 0.8;
}

