.banner-section {
    width: auto;
    height: auto;
}
.block-editor-block-list__block.banner-head {
    margin-top: -6%;
    margin-bottom: -2%;
}
.banner-section-btn .wp-block-button__link:hover {
    background: #ffffff !important;
    color: #ecb101 !important;
}
.banner-section-content h1::before {
    content: '';
    width: 80px;
    height: 2px;
    background: #ecb101;
    position: absolute;
    top: 100%;
    left:0;
}
.courses-section {
    background-color: #d5e1e6 !important;
}
.course-box h4 {
    margin-top: -2px;
}
.courses-boxes img,.banner-section img {
    width:100% !important;
}
.course-box {
    box-shadow: 0px 0px 10px 2px #aaa;
}
.courses-section .course-box .price-box {
    top: -15px;
    padding: 5px 15px !important;
    right: 0;
}
.course-box .price-box:hover {
    background: #ecb101 !important;
    color: #000 !important; 
}
.course-box .lessons:before {
    content: "\f15b";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.course-box .students:before {
    content: "\f0c0";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 4px;
}
.course-box-para {
    padding: 0px 5%;
    margin-top: -7%;
    text-align: center !important;
}
.course-box .wp-block-columns {
   margin-top: -8%;
}
.course-btn .wp-block-button__link:hover {
    background: #242c5e !important;
    color: #fff !important;
}
.courses-section h2::before {
    content: '';
    width: 60px;
    height: 3px;
    background: #242c5e;
    position: absolute;
    display: block;
    clear: both;
    left: 4.5%;
    top: 95%;
}
.course-box .lessons {
    margin-left: 30%;
}
.course-box .students {
    margin-right: 22%; 
}