.banner-section {
    width: auto;
    height: auto;
}
.banner-section-content {
    margin: 11% !important;
}
.banner-section-content h1 {
    font-size: 51px !important;
}
 .banner-section a, .course-box a {
    text-decoration: none;
}
.banner-section-btn a {
    color: #000 !important;
    font-weight: 500 !important;
    font-size: 14px !important;
}
.banner-section-btn a.wp-block-button__link:hover {
    background: #ffffff !important;
    color: #ecb101 !important;
}
.courses-section, .background-img-skin {
    background-color: #d5e1e6 !important;
}
.course-btn a.wp-block-button__link:hover {
    background: #242c5e !important;
    color: #fff !important;
}
.banner-section-content h1::before {
    content: '';
    width: 80px;
    height: 2px;
    background: #ecb101;
    position: absolute;
    left: 0;
    top: 97%;
    clear: both;
    display: block;
}
.courses-section h2 {
    position: relative;
}
.courses-boxes img,.banner-section img {
    width:100% !important;
}
.course-box {
    box-shadow: 0px 0px 10px 2px #aaa;
}
.course-box-para {
    padding: 0px 5%;
}
.courses-section h2::after {
    content: '';
    width: 60px;
    height: 3px;
    background: #242c5e;
    position: absolute;
    left: 0;
    bottom: 0;
}
.course-box h4 {
    margin-top: -4% !important;
} 
.price-box {
    top: 0;
    padding: 5px 15px !important;
    right: 0;
}
.course-box .price-box:hover {
    background: #ecb101 !important;
    color: #000 !important; 
}
.course-box .lessons:before {
    content: "\f15b";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
}
.course-box .students:before {
    content: "\f0c0";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    padding: 4px;
}
.course-box .lessons {
    margin-left: 30%;
}
.course-box .students {
    margin-right: 22%; 
}
.course-box .wp-block-columns {
    gap: 0em !important;
}
@media screen and (max-width: 720px) {
    .course-box .wp-block-columns {
        flex-wrap: nowrap !important;
    }
    .course-box .students {
        margin-right: 20% !important;
    }
    .courses-boxes.wp-block-columns {
        margin: 10px !important;
    }
}
@media screen and (max-width: 992px) and (min-width: 767px) {
    .courses-boxes, .course-box .wp-block-columns {
        flex-wrap: nowrap !important;
    }
    .courses-boxes.wp-block-columns {
        margin: 0px !important;
    }
    .course-box .lessons {
        margin-left: 11% !important;
    }
    .course-box .students {
        margin-right: 0% !important;
    }
}
