h2.custom_meta {
    font-weight: bold !important;   
    padding-left: 0px !important;
}
.admin_sidebar_select tr td label input:checked+img {
    border: 3px solid #00a0d2;
    padding: 1px;
}
.admin_sidebar_select input.no_sidebar, .admin_sidebar_select input.left_sidebar, .admin_sidebar_select input.right_sidebar {
    display: none;
}
.admin_sidebar_select img {
    padding: 5px;
}

/*--------------------------------------------------------------
# about css
--------------------------------------------------------------*/
div#about {
    display: flex;
    justify-content: flex-start;
}
.about_shortcode.theme_info {
    width: 50%;
    margin-right: 20px;
}
.shuttle_ecommerce_about_demo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 40px 0px;
}
.feature-section {
    padding: 10px;
}
.about_data_shuttle_ecommerce {
    width: 295px;
    height: 180px;
    border: 1px solid #ddd;
    padding: 20px;
    text-align: center;
    background: #fff;   
}
.about_data_shuttle_ecommerce a {
    padding: 10px 20px;
    background: #2271b1;
    color: #fff;
    margin: 20px 5px 0 5px!important;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    line-height: 44px;
    border-radius: 5px;
}
.shuttle_ecommerce_about_data ul.tabs{
    margin: 0px;
    border-bottom: 1px solid #ccc;
}
.shuttle_ecommerce_about_data ul.tabs li.tab-link.current {
    color: #222;
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #ccc;
    background: #ffffff;
    border-bottom: 1px solid #ffffff;
    margin-bottom: -1px;
}
.shuttle_ecommerce_about_data ul.tabs li.tab-link {
    color: #ffffff;
    display: inline-block;
    padding: 10px 20px;
    width: auto;
    text-align: center;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    border: 1px solid #ccc;
    background: #4a85b9;
    margin-bottom: -1px;
}
.shuttle_ecommerce_about_data .tab-content {
    display: none;
    margin: 15px 0;
}
.shuttle_ecommerce_about_data .tab-content.current{
    display: inherit;
}
.shuttle_ecommerce_about_data .tab-content .theme_info{
    background-color: #fff;
}
.about_que_data p, .about_theme_data p {
    font-size: 16px;
}
.theme_info {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #c3c4c7;
}
.shuttle_ecommerce_about_theme {
    display: flex;
    width: 100%;
}
.shuttle_ecommerce_about_description p{
    font-size: 16px;
    line-height: 1.6;
}
.shuttle_ecommerce_about_description .action {
    margin: 30px 0px;
}
.shuttle_ecommerce_about_title h1 {
    color: #32373c;
    line-height: 1.2;
    font-size: 2.8em;
    font-weight: 400;
}
.about_section {
    width: 50%;
    padding-right: 20px;
}
.about_data_shuttle_ecommerce p {
    font-size: 15px!important;
    color: #888!important;
}
.shuttle_ecommerce_about_theme .shuttle_ecommerce_about_image img {
    width: 100%;
}
.shuttle_ecommerce_about_theme .shuttle_ecommerce_about_image {
    width: 30%;
}
.shuttle_ecommerce_about_theme .shuttle_ecommerce_about_description {
    width: 70%;
    padding-right: 20px;
}

.shuttle-ecommerce-theme-screenshot img.screenshot {
    width: 100%;
    max-width: 200px;
    display: inline-block;
    vertical-align: top;
    border: 2px solid #ddd;
    border-radius: 4px;
}
.shuttle-ecommerce-getting-started-notice.clearfix {
    padding: 20px 10px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -ms-align-items: center;
    align-items: center;
}
.theme-info-wrapper {
    width: 70%;
    display: block;
    vertical-align: top;
    padding: 0 20px;
}