/*--------------------------------------------------------------
# topbar
--------------------------------------------------------------*/
.header_topbar_info {
    display: flex;
    justify-content: space-between;
}
.header_contact_data {
    display: flex;
    justify-content: space-between;
}
.contact_info {
    display: flex;
    padding-right: 30px;
    align-items: center;
}
.email_info {
    display: flex;
    align-items: center;
}
.header_topbar_info p{
    margin: 0px;
}
.header_contact_data i.fa.fa-phone, .header_contact_data i.fa.fa-envelope {
    padding-right: 10px;
}
.header_address {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 30px;
}
.header_address i {
    padding-right: 10px;
    font-size: 20px;
}
body.admin-bar .main_site_header.is-sticky-menu {
    top: 32px;
}
.main_site_header.is-sticky-menu {
    top: 0px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;
    box-shadow: 0 10px 15px rgb(0 0 0 / 5%);
    animation: 1s ease-in-out 0s normal none 1 running fadeInDown;
}
.main_site_header.is-sticky-menu .header_info {
    padding: 0px;
}
/*--------------------------------------------------------------
# button
--------------------------------------------------------------*/
    button, input[type="button"], input[type="reset"], input[type="submit"], .wp-block-search .wp-block-search__button,.nav-previous a, .nav-next a, .buttons, .woocommerce a.button, .woocommerce button, .woocommerce .single-product button, .woocommerce button.button.alt, .woocommerce a.button.alt, .woocommerce button.button,.woocommerce button.button.alt.disabled {
        position: relative;
        transition: 0.60s;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 2px;
    }
    aside#secondary a:hover {
        padding-left: 20px;
        transition: all 0.5s ease;
    }
    button.wp-block-search__button{
        line-height: 14px;
    }
    .owl-nav button:after {
        content: unset;
    }
    .owl-nav button:hover {
        transition: all 1s ease; 
    }
    span.separator {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
        width: 143px;
        height: 11px;
        display: flex;
        margin-top: 18px;
        position: relative;
        z-index: 0;
        align-items: center;
        justify-content: center;
    }
    span.separator:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        width: 160px;
        height: 3px;
        margin: auto;
    }
    span.separator:after {
        content: "";
        position: absolute;
        top: 30px;
        bottom: 0;
        width: 80px;
        height: 3px;
        margin: auto;
        left: 21px;
    }
    nav.navigation.post-navigation {
        display: inline-block;
    }
    aside.widget-area section h2 {
        margin: 0px;
    }
    aside.widget-area .widget {
        margin: 15px;
        margin-bottom: 1.875rem;
        overflow: hidden;
        position: relative;
        border-radius: 6px;
    }
    aside.widget-area section h2, aside.widget-area label.wp-block-search__label {
        margin-bottom: 0;
        line-height: 1;
        padding: 18px;
        background-image: url(../images/dotted_sidebar.png);
        margin: 0px;
    }
    .wp-block-group__inner-container ul, .wp-block-search__inside-wrapper, .no-comments.wp-block-latest-comments, .wp-block-group__inner-container ol, .no-comments.wp-block-latest-comments {
        margin: 0px;
        padding: 15px;
        padding-left: 15px !important;
        list-style: none;
    }
    .wp-block-group__inner-container ul li, .wp-block-group__inner-container ol li {
        padding: 5px 0px;
    }
    .wp-block-group__inner-container ul li a:before, .wp-block-group__inner-container ol li a:before, .no-comments.wp-block-latest-comments:before {
        content: "\f101";
        font: normal normal normal 14px /1 'FontAwesome';
        margin-right: 10px;
        font-size: 17px;
        font-weight: bold;
    }
    button.wp-block-search__button {
        padding: 5px 15px;
    }
    .main_container ol, .main_container ul {
        padding: 0px;
    }
    .post-navigation .nav-previous, .post-navigation .nav-next{
        text-align: left;
        margin: 10px;
    }
    .entry-content a:not(.more-link):not(.button):not(.wp-block-button__link), .entry-summary a:not(.more-link):not(.button):not(.wp-block-button__link), .widget_text a:not(.more-link):not(.button) {
        text-decoration: underline;
    }
/*--------------------------------------------------------------
# header
--------------------------------------------------------------*/
    h1.site-title{
        margin: 0px;
    }
    .call_button_info {
        align-items: center;
    }
    .call_menu_btn{
    	padding: 10px 14px;
    	border-radius: 100px;
    	text-decoration: none;
    }
    .header_nav_info{
    	padding: 0px 10px;
    }

/*--------------------------------------------------------------
# search Button
--------------------------------------------------------------*/
a.social_icon i {
    width: 35px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 100px;
    border: 1px solid;
}
.topbar_info_data {
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.contact_info, .email_info{
    padding: 10px;
}
.searchlinks {
  cursor: pointer;
  display: block;
  float: left;  
  padding: 0px 10px;
  position: relative;
}
div#cl_serchs {
    cursor: pointer;
    display: block;
    float: left;
    position: relative;
}
.cl_serchs.opens .searchforms {
    display: block;
}
.searchforms {
    display: none;
    position: absolute;
   /* width: 200px;*/
    height: 53px;
    line-height: 40px;
    top: 27px;
    right: 0px;
    padding: 0 15px;
    cursor: default;
    border-radius: 2px;
    border-style: solid;
    border-width: 1px;
    border-color: #e1e1e1;
    z-index: 9999999;
    background-color: #fff;

    width: 100%;
    min-width: 315px;
    border-radius: 10rem;
}
#searchs {
    display: block;
    position: relative;
}
#s {
    width: 100%;
    border-radius: 100px;
    /*width: 135px;*/
    height: 38px;
    background: #fff;
    border: 1px solid #e1e1e1;
    color: #888;
    margin: 7px 0;
}
.searchforms .sbtns {
    display: block;
    position: absolute;
    font-size: 0.6em;
    cursor: pointer;
    right: 4px;
    top: 8px;
    margin: 0px;
    width: 35px;
    padding: 10px;
    border-radius: 100px;
}
.cl_serchs.openllllls .searchforms {
    display: block;
}
input#email, input#url, input#author {
    width: 100%;
}
.searchforms i.fa.fa-search{
    font-size: 12px;
}
button.sbtns:after, button.sbtn:after {
    content: unset;
}
/*--------------------------------------------------------------
# container
--------------------------------------------------------------*/
body.home aside#secondary {
    display: none;
}
body.home main#primary {
    width: 100%;
}
main#primary {
    min-height: 780px !important;
}
.shuttle_ecommerce_container_info.right_sidebar{
    display: flex;
    justify-content: space-between;
}
.shuttle_ecommerce_container_info.left_sidebar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.shuttle_ecommerce_container_info.no_sidedbar aside#secondary{
    display: none;
}
.shuttle_ecommerce_container_info.no_sidedbar main#primary{
    width: 100%;
}
aside.widget-area{
    padding: 15px;
}
main#primary {
    padding: 15px;
}
aside#secondary a {
    text-decoration: none;
}
time.entry-date.published:before {
    content: "\f133";
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: 15px;
    display: inline-block;
    padding-right: 6px;
}
span.byline:before {
    content: "\f183";
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: 15px;
    display: inline-block;
    padding-right: 6px;
    font-weight: 900;
}
span.cat-links:before {
    content: "\f02b";
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: 15px;
    display: inline-block;
    padding-right: 6px;
    font-weight: 900;
}
span.comments-link:before {
    content: "\f075";
    font: normal normal normal 14px/1 'FontAwesome';
    font-size: 15px;
    display: inline-block;
    padding-right: 6px;
    font-weight: 900;
}
span.cat-links, span.byline, time.entry-date.published{
    margin-right: 10px;
}
label.wp-block-search__label {
    display: block;
    font-size: 20px;
    font-weight: bold;
}
.main_container {
    padding: 20px;
}
.main_container h2.entry-title {
    margin: 0px;
    margin-bottom: 10px;
}
.main_container .entry-content {
    margin-top: 20px;
}

main#primary article {
    visibility: visible;
    animation-delay: 0.3s;
    animation-name: zoomIn;
}
main#primary figure.post-thumbnail {
    position: relative;
    overflow: hidden;
    margin: 0;
}
main#primary img.attachment-post-thumbnail.size-post-thumbnail.wp-post-image {
    -webkit-transition: transform 2s, filter 1.5s ease-in-out;
    -moz-transition: transform 2s, filter 1.5s ease-in-out;
    -o-transition: transform 2s, filter 1.5s ease-in-out;
    -ms-transition: transform 2s, filter 1.5s ease-in-out;
    transition: transform 2s, filter 1.5s ease-in-out;
    transform-origin: center center;
    width: 100%;
    opacity: 1;
}
main#primary article:hover figure.post-thumbnail img.attachment-post-thumbnail {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    transform: scale(1.15,1.15);
    -webkit-transform: scale(1.15,1.15);
    -moz-transform: scale(1.15,1.15);
    -ms-transform: scale(1.15,1.15);
    -o-transform: scale(1.15,1.15);
}
.read_btn {
    margin-top: 30px;
    display: none;
}
.blog_title {
    text-align: center;
}
body.blog .read_btn {
    display: block;
}

.main_containor.list_view article {
    display: flex;
}
.main_containor.list_view  figure.post-thumbnail {
    width: 50%;
    height: auto;
    margin-right: 1.875rem;
    float: left;
}
.main_containor.list_view  .main_container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.blog article .main_container .entry-meta {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sub-menu li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

/*--------------------------------------------------------------
# breadcrumb section
--------------------------------------------------------------*/
    .home .breadcrumb_info {
        display: none;
    }
    .breadcrumb-heading h1 {
        margin: 0px;
    }
    .breadcrumb_info {
        text-align: center;
        padding: 60px 0px;
    }
    ol.breadcrumb-list {
        margin: 0px;
        padding: 0px;
        list-style: none;
        margin-top: 15px;  
        display: inline-block;
        max-width: max-content;
        padding: 15px 10px;
        border-radius: 100px;
    }
    ol.breadcrumb-list li {
        display: inline-block;
    }
    i.fa.fa-home {
        font-size: 20px;
        transition: transform .7s ease-in-out;
    }
    section#breadcrumb-section a i:hover {
        transform: rotate(360deg);
    }
    button.wp-block-search__button {
        padding: 8px 10px;
    }
/*--------------------------------------------------------------
# featured slider
--------------------------------------------------------------*/
    .featured_slider_image .hentry-inner .entry-container {
        padding: 40px 40px !important;
        background: rgb(0 0 0 / 50%);
        border-left: 4px solid #133b41;
    }
    .hentry-inner {
        background-color: #222222;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        background-size: cover;
        display: -webkit-box;
        display: -webkit-flex;
        flex-direction: column;
        height:550px;
        overflow: hidden;
        position: relative;
        padding: 88px 50px;
    }
    .hentry-inner .post-thumbnail {
        background-color: transparent;
        background-image: linear-gradient( 0deg,#0c0c0c 0%,#000000 20%);
        opacity: .50;
        transition: background .3s,border-radius .3s,opacity .3s;
    }
    .hentry-inner .post-thumbnail img {
        left: 0;
        object-fit: cover;
        top: 0;
        transform: none;
        position: absolute;
        height: 100%;
    }
    .hentry-inner .entry-container {
        margin: 0px 60px 0;
        max-width: 600px; 
        margin-top: auto;
        margin-bottom: auto;
        text-align: left;
    }
    .featured_slider_title h1 {
        margin-top: 0px !important;
    }
    .featured_slider_disc, .featured_slider_title h1 {
        margin: 25px 0px;
    }
    .owl-item.active .entry-container {
        opacity: 1;
        visibility: visible;
        top: 0;
        z-index: 99999;
    }
    .featured_slider_image button.owl-prev, .featured_slider_image button.owl-next {
        outline: none;
        opacity: 1;
        letter-spacing: 0;
        position: absolute;
        top: 40%;
        text-align: center;
        text-decoration: none;
        text-shadow: none;
        z-index: 199;
    }
    .featured_slider_image .owl-prev {
        left: 20px;
    }
    .featured_slider_image .owl-next {
        right: 20px;
    }
    .featured_slider_image i.fa.fa-angle-right, .featured_slider_image i.fa.fa-angle-left {
        font-size: 20px;
        width: 45px;
        height: 45px;
        font-weight: bold;
        line-height: 40px;
    }
    .image_btn.button a.buttons {
        margin: 10px 0px;
    }
    .hentry-inner .entry-container {
        display: block;
        opacity: 0;
        position: relative;
        visibility: hidden;
        top: 150px;
        transition: all 1s ease;
        z-index: 9;
    }
    header.featured_slider_title.entry-header {
        margin-left: 0px;
    }
    .featuredimage_slider {
        text-align: center;
    }
    .featured_slider_image .owl-dots {
        display: none;
    }
    .featured_slider_image .owl-nav.disabled {
        display: block !important;
    }
    .featured_slider_image:hover .owl-nav.disabled button.owl-prev {
        left: 40px;
    }
    .featured_slider_image:hover .owl-nav.disabled button.owl-next {
        right: 40px;
    }
    .featured_slider_image a{
        text-decoration: none !important;
    }


/*--------------------------------------------------------------
# Featured Section Start
--------------------------------------------------------------*/
    .featured-section_data{
        padding-bottom: 40px;
    }
    .featured-section_data a{
        text-decoration: none !important;
    }
    .featured-section_data {
        text-align: center;
    }
    .card-container.featured_content {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    div#featured-section {
        position: relative;
        z-index: 1;
        text-align: center;
        display: block;
        opacity: 1;
        top: 0px;
        transition: all 1s ease;
    }
    .section-featured-wrep {
        text-align: center;
        padding: 30px;
        width: 245px;
        margin: 0px;
        transition: all .8s;
        margin-right: 30px;
        margin-bottom: 55px;
        float: left;
        text-align: center;
        position: relative;
        box-sizing: border-box;
    }
    .section-featured-wrep i {
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
    }
    .section-featured-wrep:hover i{
        color: #ffffff;
        -webkit-transform: rotateY(360deg);
        -ms-transform: rotateY(360deg);
        transform: rotateY(360deg);
    }
    .featured-title {
        position: relative;
        z-index: 2;
        margin-top: 50px;
    }
    .featured-icon {
        height: 130px;
        width: 130px;
        background-color: #133b41;
        line-height: 88px;
        text-align: center;
        position: absolute;
        top: -50px;
        z-index: 1;
        font-size: 40px;
        border-radius: 50%;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
        -webkit-transition: all 0.3s ease 0s;
        transition: all 0.3s ease 0s;
        color: #ffffff;
    }


/*--------------------------------------------------------------
# Featured Section end
--------------------------------------------------------------*/


/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/
    .about_section_container {
        display: flex;
        width: 100%;
        padding: 30px 0px;
        position: relative;
    }
    .about_featured_image, .about_container_data {
        width: 50%;
    }
    .about_section_info {
        text-align: center;
        padding: 30px 0px;
    }
    .about_container_data {
        padding-left: 20px;
    }
    .about_featured_image {
        padding-right: 20px;
    }
    .about_icon.buttons i {
        padding: 20px;
        font-size: 25px;
    }
    .about_container_data .about_icon.buttons:hover {
        padding: 0px;
    }
    .about_icon.buttons:after {
        content: unset;
    }
    .about_icon.buttons {
        margin-right: 10px;
    	padding: 0px;
    }
    .about_container {
        display: flex;
        margin-bottom: 10px;
        align-items: center;
        text-align: left;
    }
    .about_container h3, .about_container p{
        margin: 0px;
    }
    .about_title a {
        text-decoration: none;
    }
    .about_icon.buttons:hover{
        padding: 10px 15px;
    }
    .about_icon.buttons:after {
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        height: 40%;
        transition: all 0.6s ease;
        top: 37px;
        bottom: 0;
        right: 0;
        border-top-color: transparent !important;
        border-left-color: transparent !important;
        border: 2px solid;
        border-radius: 2px;
        border-bottom-color: #ffffff;
        border-right-color: #ffffff;
        opacity: 1;
    	margin-right: 0px !important;
    }
    .about_icon.buttons:before {
        border: 2px solid;
        border-radius: 2px;
        border-top-color: #ffffff;
        border-left-color: #ffffff;
        content: '';
        display: block;
        position: absolute;
        width: 25%;
        height: 40%;
        transition: all 0.6s ease;
        top: 0;
        left: 0;
        border-bottom-color: transparent !important;
        border-right-color: transparent !important;
        transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
    }
    .about_icon.buttons:hover:before{
        width: 100%;
        height: 100%;
        border-top-color: #168686;
        border-left-color: #168686;
    }
    .about_icon.buttons:hover:after{
        width: 100%;
        height: 100%;
        border-bottom-color: #168686;
        border-right-color: #168686;
        top: 0px;
    }
    .about_description {
        padding-bottom: 30px;
    }
    .about_section_info a{
        text-decoration: none !important;
    }
    .about_featured_image {
        position: relative;
        display: inline-block;
    }
    .home .about_featured_image:before {
        display: inline-block;
        position: absolute;
        content: '';
        width: 300px;
        height: 250px;
        top: -25px;
        right: 0px;
        z-index: 0;
        transform: translate3d(22px, -22px, -22px);
        background: #245d6c;
        border-radius: 4px;
        border: 2px solid #245d6c;
    }
    .home .about_featured_image:after {
        display: inline-block;
        position: absolute;
        content: '';
        width: 300px;
        height: 250px;
        bottom: -45px;
        left: -45px;
        background: #245d6c;
        border-radius: 4px;
        border: 2px solid #245d6c;
    }
    .about_featured_image img {
        position: relative;
        z-index: 1;
        display: inline-block;
        border-radius: 4px;
    }


/*--------------------------------------------------------------
# Our Portfolio
--------------------------------------------------------------*/
    .our_portfolio_container {
        position: relative;
        overflow: hidden;
        width: 315px;
    }
    .our_portfolio_info a{
        text-decoration: none !important;
    }
    .our_portfolio_info {
        text-align: center;
    }
    .parent.our_portfolio_caption {
        padding: 10px;
    }
    .wrappers.our_portfolio_section {
        display: flex;
        flex-wrap: wrap;
        padding: 20px 0px;
    	justify-content: center;
    }
    .our_portfolio_container:before {
        content: "";
        border: 2px solid #fff;
        box-shadow: 0 0 25px rgb(0 0 0 / 30%);
        width: 100%;
        height: 100%;
        opacity: 0;
        transform: rotate3d(0,0,1,45deg) scale3d(1.5,0,1);
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        transition: all .35s;
    }
    .protfolio_images img {
        width: 100%;
        height: auto;
        transform: translate3d(0,0,0) scale(1);
        transition: all 0.5s ease 0s;
    }
    .our_port_containe {
        color: #fff;
        width: 100%;
        padding: 15px 10px;
        opacity: 0;
        transform: translateX(-50%) translateY(-50%);
        position: absolute;
        top: 50%;
        left: 50%;
        z-index: 1;
        transition: all 0.4s ease-in-out;
    }
    .our_portfolio_container:hover:before {
        opacity: 1;
        transform: rotate3d(0,0,1,45deg) scale3d(1.5,1,1);
    }
    .our_portfolio_container:hover img {
        opacity: 0.7;
        transform: translate3d(-12px,0,0) scale(1.1);
    }
    .our_portfolio_container:hover .our_port_containe {
        opacity: 1;
        transform: translateX(-50%) translateY(-50%);
    }
    .our_portfolio_title h3, .our_portfolio_title p {
        margin: 0px;
    }
    .our_portfolio_title {
        margin-bottom: 20px;
    }
    .our_portfolio_btn a {
        border-radius: 100px;
        padding: 10px 15px;
    }
    .our_portfolio_btn a:hover i {
        transform: rotate(360deg);
        transition: all 0.3s ease-in-out 0s;
    }
    .our_portfolio_btn a i{
        transition: all 0.5s ease 0s;
    }

/*--------------------------------------------------------------
# Our Team
--------------------------------------------------------------*/
    .our_team_section a{
        text-decoration: none !important;
    }
    .our_team_section {
        text-align: center;
        padding: 40px 0px;
    }
    .our_team_data {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;   
        padding: 30px 0px; 
    }
    .our_team_container {
        width: 335px;
        margin: 0px 6px;
        margin-bottom: 20px;
    }
    .our_team_container_data {
        position: relative;
    }
    .our_team_section a {
        text-decoration: none !important;
    }
    .our_team_social_icon i {
        background: #133b41;
        color: #ffffff;
        font-size: 18px;
        width: 30px;
        height: 30px;
        line-height: 33px;
    }
    .our_teams_contain {
        position: absolute;
        margin: 0px 10px;
        bottom: 35px;
        left: 0;
        right: 0;
        background: aliceblue;
    }
    .our_team_title h3 {
        margin: 0px;
    }
    .our_team_container {
        position: relative;
    }
    .our_team_contain_info {
        margin: 0px 10px;
    }
    .our_team_headline p{
        margin:0px;
    }


/*--------------------------------------------------------------
# our services start
--------------------------------------------------------------*/
    .heading_main_title h2 {
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        padding-right: 30px;
    }
    .our_services_section {
        padding: 50px 10px;
        text-align: center;
    }   
    .our_services_section_data {
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        padding: 30px 0px;
    }
    .our_services_data {
        height: 100%;
        padding: 35px;
        text-align: left;
        border-radius: 0.313rem;
        position: relative;
        z-index: 0;
        overflow: hidden;
        -webkit-transition: all .35s cubic-bezier(.645,.045,.355,1);
        transition: all .35s cubic-bezier(.645,.045,.355,1);
    }
    .card {
        width: 325px;
        border-radius: 6px;
        margin: 10px;
        position: relative;
        /*transform-style: preserve-3d;*/
        transition: all 1s ease-in-out;
    }
    .card .back .our_services_data .our_services_img {
        position: absolute;
        top: 0;
        right: 0;
        margin: -60px;
        font-size: 228px;
        opacity: 0.2;
    }
    .side.services-section-wrep .our_services_img i {
        font-size: 50px;
    }
    .side.services-section-wrep {
        display: none;
    }
/*--------------------------------------------------------------
# our services end
--------------------------------------------------------------*/
    
/*--------------------------------------------------------------
# our testimonial
--------------------------------------------------------------*/
    .image_testimonials img {
        border-radius: 100px;
        object-fit: cover;
        max-width: 130px;
        height: 130px;
    }
    .image_testimonials {
        width: 130px;
    }
    .testimonials_disc {
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        max-width: 445px;
        margin: 10px 6px 1px 0px;
        position: relative;
        z-index: 1;
        transition: all .5s;
    }
    .testimonials_image {
        position: relative;
        z-index: 999;
        border: 2px solid #000;
        border-radius: 100px;
        padding: 5px;
        display: inline-block;
    }
    .our_testimonial_data_info {
        position: relative;
    }
    .image_testimonials img {
        position: relative;
        border-radius: 100px;
        object-fit: cover;
        max-width: 130px;
        height: 130px;
        z-index: 1;
    }
    .testimonials_disc {
        text-align: center;
        padding: 10px;
        border-radius: 10px;
        max-width: 445px;
        margin: -70px 0px 1px 60px;
        position: relative;
        z-index: 1;
        transition: all .5s;
    }
    .our_testimonials_container {
        padding: 20px 20px 20px 60px
    }
    .our_testimonials_container p {
        text-align: left;
        margin: 0px;
    }
    .testimonials_title h3, .testimonials_title h4 {
        margin: 0px;
        text-align: end;
    }
    .our_testimonial_section .owl-dots {
        text-align: center;
    }
    .our_testimonial_section button.owl-dot {
        width: 12px;
        height: 12px;
        padding: 5px;
        background: #133b41 !important;
        border-radius: 100px;
        flex-direction: column-reverse;
        flex-wrap: nowrap;
        margin: 2px;
        margin-top: 20px;
    }
    .our_testimonial_section button.owl-dot.active {
        background: #02cfaa !important;
    }
    .testinomial_owl_slider .owl-prev {
        left: 0px;
    }
    .testinomial_owl_slider .owl-next {
        right: 0px;
    }
    .testinomial_owl_slider:hover  .owl-nav.disabled{
        display: block !important;
    }
    .our_testimonial_section .owl-carousel .owl-nav button.owl-prev, .our_testimonial_section .owl-carousel .owl-nav .owl-next {
        position: absolute;
        padding: 17px !important;
        line-height: 19px;
        font-size: 25px;
        top: 100px;
    }
    .our_testimonial_main_disc {
        text-align: center;
    }
    .testimonial_title.heading_main_title {
        text-align: center;
    }
    .our_testimonial_section {
        padding: 40px 0px;
    }

/*--------------------------------------------------------------
# our sponsors
--------------------------------------------------------------*/
    .our_sponsors_section a{
        text-decoration: none !important;
    }
    .our_sponsors_section {
        text-align: center;
        padding: 30px 0px;
    }
    .our_sponsors_contain {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 30px 0px;
    }
    .our_sponsors_img {
        padding: 20px;
        margin: 2px;
        border:1px solid #dddddd;
    }    

/*--------------------------------------------------------------
# footer
--------------------------------------------------------------*/
    footer#colophon{
        text-align: center;
    }

    .scrollingUp.is-active {
        visibility: visible;
        opacity: 1;
    }
    .scrolling-btn {
        position: fixed !important;
        bottom: 15px;
        right: 15px;
        width: 46px;
        height: 40px;
        line-height: 16px;
        cursor: pointer;
        text-align: center;
        transition: .9s;
        border-radius: 2px;
        font-size: 20px;
        border: none;
        z-index: 5;
        visibility: hidden;
        opacity: 0;
    }
    .scrollingUp:after{
        content: unset;
    }
    .widget_footer {
        display: flex;
    }
    .widget_footer ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    .widget_section {
        width: 25%;
        text-align: left;
        padding: 15px;
    }
    .widget_section h1, .widget_section h2, .widget_section h3, .widget_section h4, .widget_section h5, .widget_section h6 {
        margin: 0px;
        margin-bottom: 20px;
    }


    .search_call_btn_info {
        display: flex;
        align-items: center;
    }
    i.fa.fa-search, i.fa.fa-shopping-cart {
        font-size: 20px;
    }
    .searchform i.fa.fa-search {
        font-size: 15px;
    }
    button.scrollingUp.scrolling-btn:after {
        content: unset;
    }
    footer#colophon li.current-menu-item {
        background-color: unset;
    }

/*--------------------------------------------------------------
# woocommerce
--------------------------------------------------------------*/
    .woocommerce .woocommerce-message{
        background-color: #ffffff;
    }
    .woocommerce .woocommerce-cart table.cart img{
        width: 100px;
    }
    .woocommerce ul.products li.product .button {
        display: inline-block;
    }
    /*.woocommerce ul.tabs.wc-tabs li {
        padding-top: 5px !important;
        padding-bottom: 5px !important;
    }*/
    .woocommerce ul.tabs.wc-tabs {
        padding-left: 7px !important;
    }
    .woocommerce ul.tabs.wc-tabs li {
        margin-left: 1px !important;
        margin-right: 1px !important;
        text-transform: uppercase;
        padding: 5px 15px !important;
    }

    .woocommerce_product_sections{
        padding: 30px 10px;
    }
/*--------------------------------------------------------------
# navbar
--------------------------------------------------------------*/
    .main-navigation li{
        position: relative;
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    .main-navigation li:before{
        content: "";
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        -webkit-transform: scaleY(0);
        transform: scaleY(0);
        -webkit-transform-origin: 50% 0%;
        transform-origin: 50% 0%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition: 300ms ease-out;
        transition: 300ms ease-out;
    }
    .main-navigation li:hover:before{
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    .main-navigation .sub-menu a {
        padding: 0px;
    }
    .mobile_menu {
        display: none;
    }
    .mobile_menu {
        position: fixed;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        overflow-y: auto;
        z-index: 99999;
        overflow-x: hidden;
    }
    .mobile_menu #primary-menu {
        margin-top: 59px;
    }

    .shuttle_ecommerce_container_info.no_sidebar aside.widget-area {
        display: none;
    }
    .shuttle_ecommerce_container_info.no_sidebar main#primary{
        width: 100%;
    }

    button.customize-partial-edit-shortcut-button:after {
        content: unset;
    }
    button.customize-partial-edit-shortcut-button:hover {
        padding-right: 3px;
    }
    .main-navigation .menu-item-has-children > a:after{
        top: 35px;
    }
    .main-navigation .sub-menu a:after{
        top: 4px;
    }
    .main-navigation .sub-menu li:before{
        background-color: unset !important;
    }
.customize-partial-edit-shortcut button, .widget .customize-partial-edit-shortcut button{
    left: 10px;
}

@media only screen and (max-width: 767px) {
    /*--------------------------------------------------------------
    # navbar
    --------------------------------------------------------------*/
    .call_button_info nav.main-navigation ul {
        display: none;
    } 
    .main-navigation .menu-item-has-children > a:after{
        content: '' !important;
    }
    button.dropdown-toggle:hover {
        padding: 5px;
    }
    button#mobilepop {
        position: absolute;
        top: 0;
        right: 0;
        margin: 10px;
    }
    .main-navigation a{
        padding: 0px;
    }
    .main-navigation .sub-menu a {
        padding: 0px;
    }
    li.current-menu-item {
        background-color: unset !important;
    }
    .main-navigation li:before{
        background-color: unset !important;
    }

    /* # navbar close
    --------------------------------------------------------------*/
    .card{
        width: 350px;
        margin-bottom: 10px;
    }
    a.call_menu_btn {
        padding: 10px 14px;
    }
    body.admin-bar .site-header .main_site_header.is-sticky-menu {
        top: 0px;
    }
    .header_topbar_info{
        display: block;
    }
    .shuttle_ecommerce_container_info.right_sidebar, .shuttle_ecommerce_container_info.left_sidebar{
        flex-direction: column;
    }
    .shuttle_ecommerce_container_info.right_sidebar main#primary, .shuttle_ecommerce_container_info.left_sidebar main#primary{
        width: 100%;
    }
    .shuttle_ecommerce_container_info.right_sidebar aside.widget-area, .shuttle_ecommerce_container_info.left_sidebar aside.widget-area{
        width: 100%;
    }
    .shuttle_ecommerce_container_info.no_sidebar aside.widget-area {
        display: none;
    }
    .shuttle_ecommerce_container_info.no_sidebar main#primary{
        width: 100%;
    }

    .widget_footer {
        display: inline-block;
    }
    .widget_section{
        width: 100%;
    }
    .featured_slider_image .hentry-inner{
        justify-content: center;
    }
    .about_section_container {
        display: inline-block;
    }
    .about_featured_image, .about_container_data {
        width: 100%;
    }
    .about_container_data {
        padding-left: 0px;
    }
    .about_featured_image {
        padding-right: 0px; 
    }
    .wrappers.our_portfolio_section{
        justify-content: center;
    }
    .our_testimonial_section .owl-nav {
        display: none;
    }
    .main_containor.grid_view{
        grid-template-columns: auto !important;
    }
    .hentry-inner .entry-container{
        margin: 20px;
        text-align: center;
        padding: 12px !important;
    }
    .our_sponsors_contain .owl-nav {
        display: none;
    }
    main#primary{
        margin: 0px !important; 
    }
    button#navbar-toggle {
        padding: 15px;
    }
    button#navbar-toggle:after{
        content: unset;
    }
    .featured_slider_image .hentry-inner {
        height: 700px !important;
    }
    .topbar_info_data{
        display: inline-block !important;
    }
    .top_header {
        text-align: center;
    }
    .header_address {
        padding-right: 0px;
        justify-content: center;
    }
    .header_address, .header_contact_data, .header_social_icon {
        padding: 5px;
    }
    .call_button_info .header_call_btn{
        display: none;
    }
    .mobile_menu .header_call_btn.header_nav_info {
        display: block;
    }
    .mobile_menu .search_call_btn_info {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }
    .searchform{
        top: 34px;
        right: -27px;
    }
    .header_info, .featured-section_data, .about_section_info, div#our_portfolio_info, .our_services_section, .our_team_section, .our_testimonial_main_title, .our_sponsors_data {
        padding-left: 10px !important;
        padding-right: 10px !important;
    }
    .main_site_header {
        padding: 10px 0px;
    }
	.featured-section .section-featured-wrep{
        width: 100%;
        margin-bottom: 55px;
        margin-right: 0px;
	}
    .about_featured_image:before,.about_featured_image:after {
        content: unset !important;
    }
	.our_portfolio_section .our_portfolio_container {
		width: 100%;
		margin-bottom: 10px;
	}
    .our_port_containe{        
        margin: -40px auto 0;
    }
	.our_portfolio_section .parent.our_portfolio_caption {
		padding: 0px; 
	}
	.our_services_section_data .our_services_data {
	    width: 100%;
        margin-bottom: 10px !important;
        margin: 0px;
	}
	.our_team_data .our_team_container {
		width: 100%;
		margin: 0px; 
		margin-bottom: 20px;
	}
    .our_testimonial_data_info{
        flex-direction: column;
    }
    .testimonials_image img{
        margin-right: auto;
        margin-left: auto;
    }
    .testimonials_image, .testimonials_disc{
        width: 100%;
    }
    .post-navigation .nav-links {
        display: flex;
        flex-direction: column;
    }
    .main_container ol, .main_container ul {
        padding: 0px;
        margin: 0px 0px 15px 20px;
    }
    /*--------------------------------------------------------------
    # our testimonial start */
    .image_testimonials {
        margin-left: auto;
        margin-right: auto;
    }
    .testimonials_disc{
        margin: 0px;
    }
    .our_testimonials_container{
        padding: 20px;
    }
    .testimonials_image {
        border: none;
    }
    
}

@media (min-width: 768px) and (max-width: 991px){
    .card.section-featured-wrep{
        width: 354px;
    }
    body.admin-bar .main_site_header.is-sticky-menu {
        top: 32px;
    }
    .our_portfolio_container{
        width: 332px;
        margin: 10px;
    }
    .our_team_container{
        width: 354px;
        margin: 10px;
    }
    .testimonials_disc {
        max-width: none;
    }
    .our_testimonial_data_info{
        flex-direction: row;
    }
    .main-navigation .menu-item-has-children > a:after{
        content: unset;
    }
    .section-featured-wrep {
        margin-bottom: 60px;
    }
    .about_featured_image:before,.about_featured_image:after{
        content: unset !important;
    }
}