/* Mobile Portrait View */
@media screen and (max-width:767px) {
	.left, 
	.right,
	.copyright-txt, 
	.design-by, 
	.powerby,
	.fcopy-right50,
	.fcopy-left50,
	.WelComeLeft, 
	.WelComeRight{ 
		text-align:center; 
		width:auto; 
		float:none; 
	}		
	.container { 
		width:auto; 
		padding:0 20px;
	}
	.logo h1{ 
		font-size:30px;
	}
	.DefaultPostList .BlogThumb.imgLeft{ 
		width:auto; 
		height:auto; 
		float:none; 
		margin:0 0 20px;
	}
	
	.DefaultPostList .BlogThumb img{
		 height:auto; 
		 min-height: inherit;
	 }
	.DefaultPostList{ 
		float:none; 
		width:100%; 
		margin:0 0 30px 0;
		padding:20px;
	}
	.LS-Content-70{ 
		padding:40px 0;
	}	
	.copyrigh-wrapper:before{ 
		display:none;
	}
	.Column2BX{
		float:none; 
		width:100%;
		margin:0 0 50px;
	}
	
	.Column2BX h5{ 
		line-height:26px; 
		margin:15px 0;
	}
	
	.DefaultPostList .BlogThumb{
		float:none;
		width:100%;
		margin:0 0 15px;
		height:auto;
	}	
	#sidebar{ 
		width:100%; 
		float:none;
	}
	.infobx{ 
		line-height:30px !important;
	}	
	.LS-Content-70{
		width:auto; 
		float:none;
	}
	.fwcolumn-1, 
	.fwcolumn-2, 
	.fwcolumn-3, 
	.fwcolumn-4{ 
		float:none; 
		width:100%; 
		margin:0 0 5px; 
		padding:25px 0; 
		text-align:left;
	}
	.site-footer .container{ 
		padding:0 20px;
	}
	.copyrigh-wrapper .container{ 
		padding:0 20px;
	}
	h2.section_title{ 
		font-size:34px; 
		margin-bottom:25px;
	}
	#Column2BX-Section-1{ 
		padding:50px 0; 
		margin:0;
	}
	.wpcf7 input[type="text"], 
	.wpcf7 input[type="tel"], 
	.wpcf7 input[type="email"], 
	.wpcf7 textarea{ 
		width:100%;
	}
	#SiteWrapper{ 
		width:100%;
	}
	h2.services_title{ 
		font-size:30px;
	}
	.MenuPart_Right{ 
		float:none; 
		width:100%; 
		text-align:center;
	}	
	.gridlayout .DefaultPostList, 
	.fullwidth .DefaultPostList{ 
		width:auto;
		float:none;
		margin:0 0  25px 0;
		padding:0;
		box-shadow:none;
	}
	
	.nivo-caption{ 
		padding:0 20px; 
		width:90%;
	}
	.nivo-caption h2{ 
		font-size:18px !important; 
		line-height:18px !important; 
		margin:0 0 10px !important;
		padding:0;
	}
	.nivo-caption p{ 
		font-size:13px;
		line-height:14px; 
		margin-bottom:10px;
	}
	.nivo-caption .slidermorebtn{ 
		font-size:12px;
		padding:5px 20px; 
		line-height:20px;
	}
	.nivo-directionNav a{ 
		top:35% !important;
	}
	.nivo-controlNav{ 
		display:none !important;
	}
	a.nivo-prevNav{ 
		left:1%;
	}
	a.nivo-nextNav{
		right:1%;
	}
	h2.section_title{ 
	font-size:28px;
	}
	
	.nivo-directionNav{ 
		display:none;
		top:35%;
	}	
	.infobx{ 
		margin:0;
		padding:0;
		border:none;
		text-align:center;
		display:block;
	}
	.hdr-tp-social a{ 
		width:30px;
		line-height:40px;
	}
	.best-3-features{ 
		margin:0;
	}
	#Section-1{ 
		padding:70px 0 25px;
	}
	
	.box-equal-height{ 
		margin-top:0;
	}
	
	.slidePhoneSt .phoneicon{ 
		width:35px; 
		height:35px; 
		margin-right:15px;
	}
	.slidePhoneSt .phoneicon i{ 
		font-size:30px;
	}
	.quotebtn{ 
		position:relative; 
		text-align:center;
		padding:16px; 
		transform: skew(0deg);
	}
	.quotebtn h4 {
		transform:skew(0deg); 
	}
	.quotebtn:after{ 
		display:none;
	}	
	.slidePhoneSt{ 
		padding:25px;
		position:relative;
		top:25px;
		width:100%;
	}
	.slidePhoneSt h2{ 
		font-size:36px;
	}
	.post-date, 
	.post-comment, 
	.blog-postcat, 
	.edit-link{ 
		display:inline-block; 
		margin-bottom:5px;
	}
	.welcome_contentBX h2{ font-size:30px;}
	.logo{ max-width:80% !important}

}

/* Mobile Landscape View */
@media screen and (min-width: 300px) and (max-width: 480px){
	.testing{ 
		margin-right:-15px;
	}
	
}

/* Mobile Landscape View */
@media screen and (min-width: 481px) and (max-width: 767px){
	.home .container{ 
		width:400px; margin:0 auto;
	}
	.nivo-controlNav{ 
		display:none !important;
	}
}

@media screen and (min-width:768px) and (max-width: 980px){
	
	.logo{ 
		max-width:none;
	}
	#Section-1{ 
		padding:70px 0 25px;
	}
	#navigationpanel{ 
		float:none; 
		width:100%; 
		text-align:left; 
		padding:10px 0;
	}
	.MenuPart_Right{ 
		float:none;
		width:100%; 
		text-align:center;
	}
	.menu-toggle {
		right:35px;
	}
	h2.section_title{ 
		font-size:30px;
	}	
	.nivo-caption{ 
		padding:0 40px;
	}
	
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:768px) { 
	.container { 
		width:auto; 
		padding:0 20px;
	}
	/*slider css*/
	.nivo-caption{ 
		width:70%; 
		padding:0 20px; 
	}
	.nivo-caption h2{ 
		font-size:42px; 
		line-height:45px;
	}
	#SiteWrapper{ 
		width:100%;
	}
	.DefaultPostList .BlogThumb{ float:none; margin:0 0 20px 0; width:auto; }
	
	
}

/* Tablet View */
@media screen and (max-width:1169px) and (min-width:981px) { 	

	.site-header{ 
		height:auto;
		position:relative;
		top:auto;
	}
	.video_title h2{ 
		font-size:50px; 
		line-height:50px;
	}
	.nivo-caption{ 
		width:70%; 
		padding:0 80px; 
	}
	.nivo-controlNav{ 
		left:7%;
	}
	.header-navigation.Nopad{	
	  padding: 40px 0;
	 }
	 #navigationpanel{ position:inherit; display:inherit;}
	 .appbox{ margin-right:50px;}
	 .menu-toggle{top:-8px;}
}

@media screen and (max-width: 980px){
	.logo{ 
		position:relative;		
		top:auto;
		margin-bottom:15px;
	}
	.site-header{ 
		height:auto;
		position:relative;
		top:auto;
	}
	.infobx{ 
		line-height:45px;
	}
	.site-header.innerpage_header .header-section{ 
		box-shadow:0 3px 3px #f1f1f1;
	}
	a.quote{ 
		margin-top:10px;
	}
	.header-navigation a{ 
		color:#fff;
	}
	.header-navigation .menu ul a,
	.header-navigation .menu ul ul a {
		padding: 0.75em 1.75em;
	}
	.MenuPart_Right{ 
		padding:10px 0 0;
	}
	.hdr-tp-social{ 
		float:none;
	}	
	.site-header.innerpage_header{ 
		box-shadow:0 0px 6px #ddd;
	}
	.header-section .container { 
		padding:0;
	}
	.FrontSlider::before{ 
		width:100%;
	}
	
	a.nivo-prevNav {
		left:0;
	}
	a.nivo-nextNav {
		right:0;
	}
	.header-navigation .menu ul{ 
		background-color:transparent !important
	}
	
	.nivoSlider:hover .nivo-directionNav{ 
		display:none !important;
	}
	.slidePhoneSt span{ 
		margin-bottom:15px;
	}

	#Section-1 h3{ 
		width:100%;
		font-size:30px;
	}	
	.hdrinfobar{ line-height:30px; float:none;}
	.hdrinfobar .left{ margin:0; padding:0;}
	.hdrinfobar:before, .hdrinfobar:after{ display:none;}
	.welcome_contentBX h2{ font-size:35px;}
	p.shortinfo{ max-width:100%;}
	#navigationpanel{ display:block;}
	.appbox{ display:none;}
}