/*
Theme Name: Iqra Education
Theme URI: https://www.themeseye.com/wordpress/free-education-wordpress-theme/
Author: ThemesEye
Author URI: https://www.themeseye.com/
Description: Iqra Education is perfect one for the school, college or university and it is a well suited theme for the training centers as well as LMS learning modules. If you want to open up the educational websites or have the goal of amendments in the high schools or kindergarten, then this WordPress theme is a very suitable optionas it has many options like two coulumn layout, AMP ready, custom-logo, Gutenberg Compatible and much more. Known for its responsive nature as well as the powerful features, the design of a website related to the personal blogging or the coaching classes becomes quite easy with this. Even if you are a starter in the educational field like an institute or university, Iqra Education is a perfect option. It is multipurpose and creative making it perfect for showcasing the achievements of teachers, mentors who are associated with primary schools, Universities, Online Classes, Kindergartens, Daycare, academies, online courses, educator, elementary school, pre-school education, pediatric department, minimal kids school, language school, ballet school, e-learning, Academy, nursery, colleges, institutes, tuition, marketing, workshop, course hub, internship, book selling, High school, summer camps,childcare, day care center, tutor, udemy, training centres, preschool, children art & craft school, academics, secondary schools. This is a modern one and is accompanied with the large header and a clean design. With this Kids education theme, educational activities become easy and because of its ideal design, it is good for various activities related to children. It operates on a bootstrap framework and is known for its quick page speed. Iqra Education also has a secure and clean code. demo: https://themeseye.com/demo/iqra-education-pro/
Requires at least: 5.0
Tested up to: 6.1
Requires PHP: 7.2
Version: 0.8.5
License: GPLv3.0 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html
Text Domain: iqra-education
Tags: left-sidebar, right-sidebar, one-column, two-columns, grid-layout, block-styles, wide-blocks, flexible-header, custom-colors, custom-background, custom-logo, custom-menu, custom-header, editor-style, featured-images, footer-widgets, sticky-post, full-width-template, rtl-language-support, post-formats, theme-options, threaded-comments, translation-ready, blog, education, e-commerce
*/

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}
p {
  color: #3c3e79;
  line-height: 2;
  font-size: 15px;
  font-weight: normal;
}
article,
aside,
footer,
header,
nav,
section {
  display: block;
}
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #000;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}
.entry-audio audio {
  width: 100%;
}
audio,
video {
  display: inline-block;
}
button,
input,
optgroup,
select,
textarea {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
/*wide block*/
.alignwide {
  margin-left: -80px;
  margin-right: -80px;
}
.alignfull {
  margin-left: calc(-100vw / 2 + 100% / 2);
  margin-right: calc(-100vw / 2 + 100% / 2);
  max-width: 100vw;
}
.alignfull img {
  width: 100vw;
}

/*----------- Forms ---------------*/
label {
  display: inline-block;
  font-weight: 800;
}
#sidebox label,
.site-footer label {
  display: block;
  font-weight: 800;
}
.page-content label {
  display: inline-block;
}
.site-footer label {
  display: block;
}
.page-content .search-form .search-submit {
  position: static;
}
.page-content input.search-field {
  width: 100%;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  background: #fff;
  background-image: -webkit-linear-gradient(
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0)
  );
  border: 1px solid #bbb;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  padding: 0.7em;
  width: 100%;
}
select {
  border: 1px solid #bbb;
  padding: 10px;
  max-width: 100%;
  background: transparent;
}
input[type="radio"],
input[type="checkbox"] {
  margin-right: 0.5em;
}
button,
input[type="button"],
input[type="submit"] {
  background-color: #fdd333;
  border: 0;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 1;
  padding: 15px 20px;
  text-shadow: none;
  -webkit-transition: background 0.2s;
  transition: background 0.2s;
}
input[type="submit"] {
  color: #3c3e79;
}
input[type="submit"]:focus,
input#submit:hover {
  color: #fdd333;
}
button:focus,
input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background: #3c3e79;
}
/*-------------- Lists -------------------*/
ul,
ol {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
ol {
  list-style: decimal;
}
/*-------------------- Tables ---------------------*/
table {
  border-collapse: collapse;
  margin: 0 0 1.5em;
  width: 100%;
}
thead th {
  border-bottom: 2px solid #bbb;
  padding-bottom: 0.5em;
}
th {
  padding: 0.4em;
  text-align: left;
}
tr {
  border-bottom: 1px solid #eee;
}
td {
  padding: 0.4em;
}
th:first-child,
td:first-child {
  padding-left: 0;
}
th:last-child,
td:last-child {
  padding-right: 0;
}
#sidebox table#wp-calendar td a,
p.logged-in-as a:hover,
.related-posts h3 a:hover,
.singlebox .category a:hover,
.blogger h2 a:hover,
.blogger .entry-date:hover a,
.blogger .entry-author:hover a,
.blogger .entry-author:hover i,
.blogger .entry-date:hover i {
  color: #000;
}
.post-info a,
.entry-comments {
  margin-left: 1%;
}
/*--------------------- Links ----------------------*/
a {
  color: #fdd333;
  text-decoration: none;
}
a:focus,
input:focus,
textarea:focus,
button:focus,
.menu-toggle:focus,
.dropdown-toggle:focus,
.menu-scroll-down:focus,
.close:focus,
.woocommerce form .form-row input:focus.input-text,
.woocommerce form .form-row textarea:focus {
  outline: 2px solid #007cba;
  border-bottom: 1px solid #000 !important;
}
.social-icon a:focus,
.widget-area a:focus,
.topbar a.call:focus,
.topbar a.email:focus {
  outline: 2px solid #007cba;
  border-bottom: 1px solid #fff;
}
a:hover,
a:active {
  color: #000;
  outline: 0;
}
/*---- Related post css -----*/
.related-posts {
  padding: 2% 0;
  clear: both;
}
.related-posts h3 {
  font-size: 25px;
  padding: 10px 0;
  margin: 0;
  font-weight: 700;
}
.related-posts h3 a {
  color: #3c3e79;
}
.related-posts .page-box {
  margin: 20px 0;
}
/*--------------- Navigation -----------------------*/
.navigation-top a {
  color: #3c3e79;
  font-weight: 600;
  -webkit-transition: color 0.2s;
  transition: color 0.2s;
}
.main-navigation {
  clear: both;
  display: block;
  color: #fdd333;
}
.main-navigation ul {
  list-style: none;
  padding: 0 1.5em;
  text-align: left;
}
.main-navigation ul,
.main-navigation .menu-item-has-children > a > .icon,
.main-navigation .page_item_has_children > a > .icon,
.main-navigation ul a > .icon {
  display: none;
}
.main-navigation > div > ul {
  border-top: 1px solid #eee;
  padding: 0.75em 1.695em;
}
.main-navigation.toggled-on > div > ul {
  display: block;
}
.main-navigation ul ul {
  padding: 0 0 0 1.5em;
}
.main-navigation ul ul.toggled-on {
  display: block;
}
.main-navigation ul ul a {
  letter-spacing: 0;
  padding: 0.4em 0;
  position: relative;
  text-transform: none;
}
.main-navigation li {
  border-bottom: 1px solid #eee;
  position: relative;
}
.main-navigation li li,
.main-navigation li:last-child {
  border: 0;
}
.main-navigation a {
  display: block;
  padding: 0.5em 0;
  text-decoration: none;
}

/* Menu toggle */
.menu-toggle {
  background-color: transparent;
  color: #3c3e79;
  display: none;
  font-size: 14px;
  font-weight: 800;
  line-height: 1.5;
  text-shadow: none;
  border: solid 1px;
}
.menu-toggle,
.main-navigation.toggled-on ul.nav-menu {
  display: block;
}
.menu-toggle:hover,
.menu-toggle:focus {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Dropdown Toggle */
.dropdown-toggle {
  background-color: transparent;
  border: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #3c3e79;
  display: block;
  font-size: 16px;
  right: -0.5em;
  line-height: 1.5;
  margin: 0 auto;
  padding: 0.5em;
  position: absolute;
  text-shadow: none;
  top: 0;
}
.dropdown-toggle:hover,
.dropdown-toggle:focus {
  background: transparent;
}
.dropdown-toggle.toggled-on .icon {
  -ms-transform: rotate(-180deg); /* IE 9 */
  -webkit-transform: rotate(-180deg); /* Chrome, Safari, Opera */
  transform: rotate(-180deg);
}
/*preloader*/
.elementor-html #pre-loader {
  display: none;
}
#pre-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999999;
  overflow: hidden;
  background: #000;
  box-shadow: inset 0px 0px 90px rgba(0, 0, 0, 0.5);
}
.demo {
  width: 100px;
  height: 102px;
  border-radius: 100%;
  position: absolute;
  top: 45%;
  left: calc(50% - 50px);
  z-index: 999999;
}
.circle {
  width: 100%;
  height: 100%;
  position: absolute;
}
.circle .inner {
  width: 80%;
  height: 100%;
  border-radius: 100%;
  border: 4px solid rgba(255, 255, 255, 0.7);
  border-right: none;
  border-top: none;
  background-clip: padding;
  box-shadow: inset 0px 0px 10px rgba(236, 249, 245, 0.15);
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.circle:nth-of-type(0) {
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}
.circle:nth-of-type(0) .inner {
  -webkit-animation: spin 0s infinite linear;
  animation: spin 0s infinite linear;
}
.circle:nth-of-type(1) {
  -webkit-transform: rotate(70deg);
  transform: rotate(70deg);
}
.circle:nth-of-type(1) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.circle:nth-of-type(2) {
  -webkit-transform: rotate(140deg);
  transform: rotate(140deg);
}
.circle:nth-of-type(2) .inner {
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
.demo {
  -webkit-animation: spin 5s infinite linear;
  animation: spin 5s infinite linear;
}
/*----------Sticky Header------*/
.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  box-shadow: 2px 2px 10px 0px #2d2d2d;
  z-index: 999999;
}
.page-template-home-custom .fixed-header #header {
  box-shadow: 2px 2px 10px 0px #2d2d2d;
}
/*----------- Header ----------------*/
.page-template-home-custom #masthead {
  position: absolute;
  z-index: 999;
  width: 100%;
  background: transparent;
  padding: 0 !important;
}
#masthead {
  background: #3c3e79;
}
.header-menu {
  background: #fff;
}
.logo {
  background: #fdd333;
}
.logo h1 {
  font-weight: 600;
  color: #3c3e79;
}
.logo h1 a,
.site-title a {
  color: #3c3e79 !important;
  text-transform: uppercase;
  font-weight: 600;
}
.topbar a.call,
.topbar a.email,
.topbar span.time {
  color: #fff;
  font-size: 14px;
  display: inline-block;
  font-weight: 500;
}
.topbar a.call i,
.topbar a.email i,
.topbar span.time i,
p.logged-in-as a,
.topbar a:hover,
.main-navigation a:hover {
  color: #fdd333;
}
.social-icon i {
  color: #fff;
  font-size: 12px;
}
.social-icon i:hover {
  color: #fdd333;
}
.account a {
  color: #3c3e79;
}
.account {
  background: #fdd333;
}

/*-----------------Search pop up----------------*/
.searchform-inner {
  position: absolute;
  top: 100px;
  width: 25%;
  padding: 30px 20px 20px;
  background: #fff;
  border-radius: 3px;
  right: 15%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  z-index: 999999;
  visibility: hidden;
}
.searchform-inner input[type="search"] {
  padding: 10px;
  border: none;
  border: 1px solid;
}
.searchform-inner .search-form .search-submit {
  padding: 10px;
  position: absolute;
  font-size: 16px;
  font-weight: 600;
  right: 0;
}
.search-body i {
  color: #3c3e79;
}
.search-body button,
.search-body button:hover,
.search-body button:focus {
  border: none;
  padding: 20px 12px;
  background: transparent;
}
.close {
  position: absolute;
  top: 4px;
  right: 4px;
  text-align: right;
  font-size: 20px;
  color: #000;
  opacity: 1;
  z-index: 99999999;
  padding: 5px;
  background: none;
}
.close:focus,
.close:hover {
  color: #000;
  text-decoration: none;
  border: none;
  opacity: 1;
  background: none;
}
.serach_outer {
  margin: 10px;
  cursor: pointer;
}
a.close {
  border-bottom: none;
}
.serach-page input.search-field {
  border: 1px solid #ccc;
  padding: 9px;
}
button.search-submit {
  border: 0;
  background: transparent;
}
.modal-open .modal {
  overflow-y: hidden;
}
.modal-open {
  overflow-y: scroll;
  padding: 0 !important;
}
.modal-backdrop {
  position: relative;
}
.modal-content {
  background: transparent;
  border: 0;
}
.modal-dialog {
  max-width: 100%;
  height: 100%;
  margin: 0;
  pointer-events: all;
}
.searchform-inner:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border: solid 7px;
  border-color: transparent transparent #fff transparent;
  margin-right: 58px;
  position: absolute;
  right: -23px;
  top: -14px;
}
.modal-body {
  width: 100%;
  height: 100%;
}
#mastheader .search-submit span .screen-reader-text {
  position: static !important;
}
.modal {
  background: rgba(0, 0, 0, 0.2);
}
.searchform-inner .search-form .search-submit {
  padding: 12px;
  position: absolute;
  right: 0px;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}
.search-form button.search-submit {
  background: #fdd333;
  color: #3c3e79;
}
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.screen-reader-text:focus {
  background-color: #eee;
  clip: auto !important;
  clip-path: none;
  color: #444;
  display: block;
  font-size: 1em;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar. */
}
.serach_outer i {
  font-size: 24px;
  padding: 4px 0 0 0;
  color: #bbb;
}
.search_form button.search-submit {
  width: 20%;
  text-align: center;
  float: right;
  border-radius: 0;
  background: url(assets/images/Icon.png) no-repeat scroll 30px 11px;
  text-indent: -9999px;
  padding: 21px 20px;
  margin: 0;
}
.search_form {
  padding: 15px 0px;
  margin-bottom: 25px;
}
/* --------- SLIDER--------- */
#slider .carousel-control-next-icon,
#slider .carousel-control-prev-icon {
  background: transparent;
}
#slider {
  max-width: 100%;
  background: #3c3e79;
}
#slider img {
  width: 100%;
  opacity: 0.5;
  object-fit: cover;
}
#slider .carousel-control-next,
#slider .carousel-control-prev {
  opacity: 1;
}
#slider .carousel-caption {
  transform: translateY(-50%);
  right: 40%;
}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  width: auto;
  height: auto;
}
#slider .inner_carousel h1 {
  color: #fff;
  font-size: 45px;
  font-weight: 600;
}
#slider .inner_carousel p {
  font-size: 14px;
  line-height: 2;
  color: #fff;
  font-weight: 500;
}
#slider .inner_carousel {
  text-align: left;
}
.readbutton a {
  padding: 12px 25px;
  color: #3c3e79;
  font-size: 14px;
  font-weight: 600;
  background: #fdd333;
  border-radius: 5px;
}
.readbutton a:hover {
  background: #3c3e79;
  color: #fdd333;
}

/*----------- About Section ----------------*/
#about {
  background: #f7f7ff;
}
#about .about-text h2 {
  font-size: 35px;
  font-weight: 700;
  color: #3c3e79;
}
#about .about-text hr {
  border-top: 2px solid #fdd333;
  width: 5%;
  opacity: 1;
}
#about .about-text strong {
  font-weight: 700;
  color: #3c3e79;
  font-size: 20px;
}
.about-text p {
  font-size: 14px;
  line-height: 2;
  color: #3c3e79;
}
.aboutbtn a {
  border-radius: 5px;
  padding: 15px 25px;
  color: #3c3e79;
  font-size: 14px;
  font-weight: 600;
  background: #fdd333;
}
.aboutbtn a:hover {
  color: #fdd333;
  background: #3c3e79;
}
.entry-video iframe {
  width: 100%;
  margin: 0;
}
#about .abt-image iframe,
#about .abt-image img,
#about .abt-image video {
  width: 100%;
  height: 320px;
}
.img-shadow {
  position: absolute;
  -webkit-clip-path: polygon(100% 5%, 25% 100%, 100% 100%);
  clip-path: polygon(100% 5%, 25% 100%, 100% 100%);
  background: #fdd333;
  height: 330px;
  top: 7px;
  width: 100%;
  opacity: 0.6;
  right: 0;
}
.abt-image:hover .img-shadow {
  display: none;
}
.abt-image {
  position: relative;
}
/* Woocommerce */
.woocommerce-MyAccount-navigation ul {
  list-style: none !important;
}
.woocommerce-product-gallery__image {
  padding: 5px;
}
.woocommerce-input-wrapper {
  width: 100%;
}
.posted_in {
  display: block;
}
.woocommerce span.onsale {
  background: #fdd333;
  color: #3c3e79;
  padding: 0;
}
.woocommerce span.tagged_as a {
  color: #3c3e79;
}
.woocommerce a.added_to_cart {
  color: #3c3e79;
}
.products li {
  border: solid 1px #dcdcdc;
  padding: 10px !important;
  text-align: center;
}
h2.woocommerce-loop-product__title,
.woocommerce div.product .product_title {
  color: #3c3e79;
  font-weight: 600;
  font-size: 18px !important;
}
.woocommerce ul.products li.product .price,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  color: #3c3e79;
  margin-bottom: 10px;
}
.woocommerce div.product .product_title,
.woocommerce div.product p.price,
.woocommerce div.product span.price {
  margin-bottom: 5px;
}
.woocommerce #respond input#submit,
.woocommerce a.button,
.woocommerce button.button,
.woocommerce input.button,
.woocommerce #respond input#submit.alt,
.woocommerce a.button.alt,
.woocommerce button.button.alt,
.woocommerce input.button.alt {
  color: #3c3e79;
  background: #fdd333;
  font-weight: 600;
}
.woocommerce #respond input#submit:hover,
.woocommerce a.button:hover,
.woocommerce button.button:hover,
.woocommerce input.button:hover,
.woocommerce #respond input#submit.alt:hover,
.woocommerce a.button.alt:hover,
.woocommerce button.button.alt:hover,
.woocommerce input.button.alt:hover {
  background: #3c3e79;
  color: #fdd333;
}
.woocommerce div.product form.cart div.quantity {
  margin-right: 10px;
}
.woocommerce .quantity .qty {
  width: 5em;
  padding: 10px;
  border-radius: 0;
  border: solid 1px #000;
  color: #000;
  display: inline-block;
}
.woocommerce-MyAccount-navigation ul {
  list-style: none;
}
.woocommerce-MyAccount-navigation ul li {
  background: #fdd333;
  padding: 12px;
  margin-bottom: 10px;
}
.woocommerce-MyAccount-navigation ul li a {
  color: #3c3e79;
  font-weight: 500;
}
p.woocommerce-result-count,
.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a,
.woocommerce-MyAccount-content a,
.woocommerce-MyAccount-content p,
span.posted_in a,
form.woocommerce-shipping-calculator a,
td.product-name a,
form.checkout.woocommerce-checkout p,
.woocommerce-privacy-policy-text a,
.woocommerce-info a,
.woocommerce form .form-row .required {
  color: #3c3e79;
}
.woocommerce .woocommerce-breadcrumb,
.woocommerce .woocommerce-breadcrumb a {
  margin-top: 5px;
}
tr.woocommerce-shipping-totals.shipping p,
.woocommerce-info a.showcoupon:hover {
  color: #000;
}
.woocommerce-MyAccount-content p a,
.woocommerce-privacy-policy-text a,
.woocommerce-info a,
.woocommerce-MyAccount-content a,
form.woocommerce-shipping-calculator a,
nav.woocommerce-MyAccount-navigation a,
tr.woocommerce-cart-form__cart-item.cart_item a {
  text-decoration: none !important;
}
.woocommerce ul.products li.product .star-rating {
  margin: 0 auto 10px;
  font-size: 15px !important;
}
.woocommerce div.product .woocommerce-product-rating {
  margin-bottom: 10px;
}
.woocommerce .related ul.products li.product,
.woocommerce-page .related ul.products li.product {
  width: 29% !important;
  float: none;
  display: inline-table;
}
.woocommerce ul.products li.product a img,
.woocommerce ul.products li.product .button {
  margin: 0;
}
.select2-container--default .select2-selection--single {
  height: 45px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  padding: 7px 10px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 8px;
}
.woocommerce form .form-row,
.woocommerce .woocommerce-form-login .woocommerce-form-login__submit {
  display: block;
}
.woocommerce form.login .form-row input.input-text {
  width: 100%;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
  width: auto;
}
.woocommerce nav.woocommerce-pagination ul li a,
.woocommerce nav.woocommerce-pagination ul li span {
  padding: 15px;
  font-size: 15px;
  font-weight: 600;
}
.woocommerce #customer_login .col-1,
.woocommerce #customer_login .col-2 {
  max-width: 100%;
}
.woocommerce a.remove,
.woocommerce form .form-row .required {
  color: #df0000 !important;
}
/*---------- Woocommerce widget css -----*/
#sidebox .widget_shopping_cart .cart_list li,
#sidebox .widget_shopping_cart .cart_list li {
  padding: 0 0 10px 2em;
  margin-bottom: 10px;
}
.woocommerce.widget ul.cart_list li img,
.woocommerce.widget ul.product_list_widget li img {
  width: 50px;
  height: 50px;
}
.widget ul.cart_list li .star-rating,
.widget ul.product_list_widget li .star-rating {
  margin: 5px 0;
}
#sidebox .widget_price_filter .ui-slider-horizontal .ui-slider-range,
#sidebox .widget_price_filter .ui-slider .ui-slider-handle,
.site-footer .widget_price_filter .ui-slider-horizontal .ui-slider-range,
.site-footer .widget_price_filter .ui-slider .ui-slider-handle {
  background: #fdd333;
}
#sidebox .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #000;
}
.site-footer .widget_price_filter .price_slider_wrapper .ui-widget-content {
  background: #fff;
}
#sidebox button,
.site-footer button[type="submit"],
#sidebox .widget_shopping_cart .buttons a:hover,
#sidebox .widget_price_filter .price_slider_amount .button:hover,
.site-footer .widget_shopping_cart .buttons a:hover,
.site-footer .widget_price_filter .price_slider_amount .button:hover,
.site-footer form.woocommerce-product-search button:hover,
.widget form.woocommerce-product-search button,
.site-footer form.woocommerce-product-search button:focus {
  background: #fdd333;
  color: #3c3e79;
}
.site-footer .widget_shopping_cart .cart_list li,
#sidebox .widget_shopping_cart .cart_list li,
.site-footer ul.product_list_widget li,
#sidebox ul.product_list_widget li,
.woocommerce .widget_rating_filter ul li {
  padding-bottom: 10px;
}
.widget form.woocommerce-product-search button {
  width: 100%;
}
.widget .price_label {
  font-size: 15px;
  font-weight: 500;
}
.site-footer .widget .price_label,
.account a:hover {
  color: #fff;
}
.woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  top: -0.2em;
}
/*----------- Blog Post ----------------*/
.blogger,
.page-box {
  text-align: left;
  border: 1px solid #3c3e79;
  padding: 10px;
  margin: 15px 0;
}
.blogger .category a {
  font-size: 16px;
  color: #3c3e79;
  padding-bottom: 3px;
  font-weight: 600;
}
.blogger h2 {
  font-size: 25px;
  padding: 10px 0;
  margin: 0;
  font-weight: 700;
}
.blogger h2 a {
  color: #3c3e79;
}
.blogger p {
  font-size: 15px;
  margin: 0;
  line-height: 1.8;
}
.post-link {
  margin: 15px 0;
  text-align: right;
}
.post-link a {
  font-size: 12px;
  color: #3c3e79;
  font-weight: 600;
  padding: 10px 20px;
  background: #fdd333;
}
.post-link a:hover,
#sidebox button:hover,
.site-footer button[type="submit"]:hover {
  background: #3c3e79;
  color: #fdd333;
}
.site-content-contain #content {
  padding: 3% 0 0;
}
.page-template-home-custom #content {
  padding: 0;
}
.singlebox h1 {
  padding: 10px 0;
  margin: 0;
}
.singlebox .category {
  margin: 10px 0;
}
.singlebox .category ul {
  margin-bottom: 10px;
}
.post-info {
  font-size: 13px;
  text-align: left;
  background: #fdd333;
  padding: 5px 10px;
  margin-bottom: 10px;
  color: #3c3e79;
}
.post-info i {
  color: #3c3e79;
  margin-left: 1%;
}
.post-info span {
  margin-right: 1%;
  color: #3c3e79;
}
.post-info a,
.text code {
  color: #3c3e79;
}
#sidebox .textwidget p a,
.text p a,
.text a,
.comment-body p a,
.woocommerce-product-details__short-description p a,
.woocommerce-tabs.wc-tabs-wrapper p a {
  text-decoration: underline;
  color: #3c3e79;
}
.text ul {
  list-style: disc;
  padding-left: 15px;
  margin: 10px 0;
}
.text ul li {
  margin-bottom: 10px;
}
/*----------- Sidebar ----------------*/
#sidebox h3 {
  background: #fdd333;
  font-size: 20px;
  font-weight: 700;
  color: #3c3e79;
  text-align: center;
  padding: 12px 0;
  margin-bottom: 10px;
}
.site-footer h3 {
  font-size: 25px;
  font-weight: 700;
  color: #fdd333;
  border-bottom: 1px solid #fdd333;
  padding: 15px 0;
  margin-bottom: 15px;
}
#sidebox ul li {
  font-size: 16px;
  border-top: none;
  padding: 10px 0;
  border-bottom: 1px solid;
}
#sidebox ul li:last-child {
  border: none;
}
.site-footer ul li {
  font-size: 15px;
  border-top: none;
  padding-bottom: 6px;
  color: #fff;
}
#sidebox ul li a {
  color: #222;
}
#sidebox ul li a:hover {
  color: #fdd333;
}
.site-footer ul li a {
  color: #fff;
  font-size: 15px;
}
.site-footer .comment-content p a,
.site-footer .textwidget .text p a {
  color: #fff;
  text-decoration: underline;
}
#sidebox .tagcloud a,
.site-footer .tagcloud a {
  display: inline-block !important;
  padding: 10px;
  font-size: 15px !important;
  margin-bottom: 4px;
  color: #000;
}
.site-footer .tagcloud a {
  color: #fff;
}
.site-info,
.site-footer .tagcloud a:focus,
.site-footer .tagcloud a:hover,
.site-info a {
  color: #3c3e79;
}
.site-info p {
  color: #3c3e79;
  font-size: 15px;
  margin-bottom: 0;
  text-align: center;
}
#sidebox input.search-field,
.site-footer input.search-field {
  padding: 10px;
  background: transparent;
  width: 100%;
  border: 1px solid;
  margin-bottom: 5px;
}
#sidebox .search-form .search-submit,
.site-footer .search-form .search-submit {
  position: static;
  width: 100%;
}
.site-footer input[type="search"],
.site-footer input[type="search"]::placeholder {
  color: #222;
}
#sidebox .search-form button {
  width: 100%;
  color: #3c3e79;
}
.text p a {
  text-decoration: underline;
}
.post-info i {
  color: #3c3e79;
  margin-left: 1%;
}
.post-info span {
  margin-right: 1%;
  color: #3c3e79;
  font-weight: 600;
}
.post-navigation .nav-next a {
  font-size: 15px;
  font-weight: 600;
  color: #3c3e79;
  display: inline-block;
  background: #fdd333;
  padding: 7px 30px 7px 20px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
.post-navigation .nav-next a:hover,
.post-navigation .nav-previous a:hover {
  color: #fdd333;
  background: #3c3e79;
}
.post-navigation .nav-previous a {
  font-size: 15px;
  font-weight: 600;
  color: #3c3e79;
  display: inline-block;
  background: #fdd333;
  padding: 7px 20px 7px 30px;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
}
.tags i {
  font-size: 20px;
  color: #dd0004;
  margin-right: 10px;
}
.tags p a {
  font-size: 14px;
  font-weight: 600;
  color: #3c3e79;
  display: inline-block;
  background: #fdd333;
  padding: 2px 20px 2px 10px;
  margin-right: 10px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 51%, 75% 100%, 0% 100%);
}
.tags p a:hover,
.nav-links .nav-previous a:hover,
.nav-links .nav-next a:hover,
.search-form .search-submit:hover {
  color: #fdd333;
  background: #3c3e79;
}
.tags {
  padding: 20px 0;
}
.blogger .tags p a {
  margin: 5px;
}
/* Footer */
.scrollup {
  display: none;
}
.scrollup i {
  position: fixed;
  bottom: 50px;
  right: 50px;
  font-size: 25px;
  padding: 12px 17px;
  border: solid 2px #fdd333;
  background: #fdd333;
  z-index: 999;
  color: #3c3e79;
}
.scrollup.left i {
  left: auto;
  right: auto;
}
.scrollup.center i {
  left: 50%;
  right: auto;
}
.site-footer {
  font-size: 14px;
  line-height: 1.6;
  margin-top: 3em;
}
.site-info .sep {
  margin: 0 0.5em;
  display: inline;
  visibility: visible;
  height: auto;
  width: auto;
}

/*post pagination*/
.nav-links .nav-previous a {
  font-size: 14px;
  font-weight: 600;
  color: #3c3e79;
  display: inline-block;
  background: #fdd333;
  padding: 10px 15px 10px 20px;
  margin-right: 10px;
  clip-path: polygon(20% 0%, 100% 0%, 100% 100%, 20% 100%, 0% 50%);
  border: none;
}
.nav-links .nav-next a {
  font-size: 14px;
  font-weight: 600;
  color: #3c3e79;
  display: inline-block;
  background: #fdd333;
  padding: 10px 23px 10px 10px;
  margin-right: 10px;
  clip-path: polygon(0% 0%, 75% 0%, 100% 51%, 75% 100%, 0% 100%);
  border: none;
}
.nav-previous {
  float: left;
  width: 50%;
  font-size: 15px;
}
.nav-next {
  float: right;
  font-size: 15px;
}
.pagination,
.comments-pagination {
  border-top: 1px solid #eee;
  font-size: 14px;
  font-weight: 800;
  padding: 2em 0 3em;
  text-align: center;
}
.pagination .icon,
.comments-pagination .icon {
  width: 0.666666666em;
  height: 0.666666666em;
}
.comments-pagination {
  border: 0;
}
.page-numbers {
  display: none;
  padding: 8px;
  background: #fdd333;
  color: #3c3e79;
  display: inline-block;
  padding: 10px;
  font-size: 14px;
  border-bottom: none;
  padding-bottom: none;
}
.page-numbers:hover,
.prev.page-numbers:hover {
  background: #3c3e79;
  color: #fdd333;
}
.page-numbers.current {
  display: inline-block;
}
.prev.page-numbers,
.next.page-numbers {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-size: 24px;
  line-height: 1;
  padding: 0.25em 0.5em 0.4em;
}
.prev.page-numbers,
.next.page-numbers {
  -webkit-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.3s ease-in-out;
}
.prev.page-numbers {
  padding: 13px;
  font-size: 13px;
  border-radius: none;
}
.next.page-numbers {
  font-size: 13px;
  padding: 13px;
  border-radius: 0px;
}

/* Single Post */
.page-links {
  font-size: 14px;
  font-weight: 800;
  padding: 2em 0 3em;
}
.page-links .page-number {
  color: #767676;
  display: inline-block;
  padding: 0.5em 1em;
}
.page-links a {
  display: inline-block;
}
.page-links a .page-number {
  color: #222;
}

/* Post Navigation */
.post-navigation {
  font-weight: 800;
  margin: 1em 0;
}
.post-navigation .nav-links {
  padding: 0 0 40px;
}
.nav-title {
  color: #333;
  font-size: 15px;
}
.post-navigation .nav-next {
  margin-top: 1.5em;
}
.nav-links .nav-previous .nav-title .nav-title-icon-wrapper {
  margin-right: 0.5em;
}
.nav-links .nav-next .nav-title .nav-title-icon-wrapper {
  margin-left: 0.5em;
}
.page-links {
  clear: both;
  margin: 0 0 1.5em;
}

/*------------ Footer ---------------*/
button.search-submit:hover {
  background: #fdd333;
}
.site-footer ul li a:hover {
  color: #fdd333 !important;
}
.site-footer {
  background: #3c3e79;
}

/* Footer widgets */
.widget-area p,
.widget-area label,
.widget-area select,
.widget-area td,
.widget-area td a,
.widget-area caption,
.widget-area th {
  color: #000;
}
.widget-area .textwidget p a {
  text-decoration: underline;
  color: #fff;
}
.site-footer li,
.site-footer .widget-area p,
.site-footer .widget-area label,
.site-footer .widget-area td,
.site-footer .widget-area td a,
.site-footer .widget-area caption,
.site-footer .widget-area th {
  color: #fff;
}
.site-footer .widget-area select {
  color: #999abc;
}
button.search-submit {
  background: #000;
  color: #fff;
}
.copyright {
  background: #fdd333;
  padding: 12px;
}
.footer_text {
  float: right;
}

/*------------- Comments ----------------*/
.comments-title {
  font-size: 20px;
}
.comment-list li:before {
  display: none;
}
.comment-body {
  margin-left: 65px;
}
.comment-author {
  font-size: 16px;
  margin-bottom: 0.4em;
  position: relative;
  z-index: 2;
}
.comment-author .avatar {
  height: 50px;
  left: -65px;
  position: absolute;
  width: 50px;
}
.comment-author .says {
  display: none;
}
.comment-meta {
  margin-bottom: 1.5em;
}
.comment-metadata {
  color: #767676;
  font-size: 14px;
  font-weight: 800;
  text-transform: uppercase;
}
.comment-metadata a {
  color: #767676;
}
.comment-metadata a.comment-edit-link {
  color: #222;
  margin-left: 1em;
}
.comment-body {
  color: #333;
  font-size: 14px;
  margin-bottom: 4em;
}
.comment-reply-link {
  font-weight: 600;
  position: relative;
  padding: 10px;
  color: #3c3e79;
  background: #fdd333;
  margin: 10px 0;
}
.comment-reply-link:hover {
  background: #3c3e79;
  color: #fdd333;
}
.comment-reply-link .icon {
  color: #222;
  left: -2em;
  height: 1em;
  position: absolute;
  top: 0;
  width: 1em;
}
.bypostauthor > .comment-body > .comment-meta > .comment-author .avatar {
  border: 1px solid #333;
  padding: 2px;
}
.no-comments,
.comment-awaiting-moderation {
  color: #767676;
  font-size: 14px;
  font-style: italic;
}
.comments-pagination {
  margin: 2em 0 3em;
}
.form-submit {
  text-align: right;
  padding: 10px 0;
}
/*---------------- Widgets ---------------*/
#secondary {
  padding: 1em 0 2em;
}
#sidebox .widget {
  border: 1px solid #3c3e79;
  margin-bottom: 6%;
  padding: 10px;
}
.widget-title a {
  color: inherit;
}
.widget select {
  width: 100%;
}
.widget ul.menu {
  list-style: none;
  margin: 0;
  background: none;
}
.widget ul.menu ul {
  list-style: none;
  margin: 0;
  background: none;
}
.widget ul li ul {
  margin: 0 0 -1px;
  padding: 0;
  position: relative;
}
.widget ul li li {
  border: 0;
}
.widget_nav_menu ul li li,
.widget_top-posts ul li,
.widget_top-posts ul li li,
.widget_rss_links ul li,
.widget_rss_links ul li li,
.widget-grofile ul.grofile-links li,
.widget-grofile ul.grofile-links li li {
  padding-bottom: 0.25em;
  padding-top: 0.25em;
}
.widget .post-date,
.widget .rss-date {
  font-size: 0.81em;
}
.site-footer .widget_rss .rss-date,
.site-footer .widget_rss li cite {
  color: #fff;
}
.widget_rss .rss-date {
  margin: 0.5em 0 1.5em;
  padding: 0;
}
.site-footer .widget_rss .rssSummary {
  color: #fff;
  margin-bottom: 0.5em;
  font-size: 14px;
}
/* Search */
.search-form {
  position: relative;
}
.search-form .search-submit .icon {
  height: 24px;
  top: -2px;
  width: 24px;
}
/* Tag cloud widget */
.tagcloud ul li {
  float: left;
  border-top: 0;
  border-bottom: 0;
  padding: 0;
  margin: 4px 4px 0 0;
}
.tagcloud,
.widget_tag_cloud,
.wp_widget_tag_cloud {
  line-height: 1.5;
}
.widget .tagcloud a,
.widget.widget_tag_cloud a,
.wp_widget_tag_cloud a {
  border: 1px solid #ddd;
  -webkit-box-shadow: none;
  box-shadow: none;
  display: block;
  padding: 4px 10px 5px;
  position: relative;
  -webkit-transition: background-color 0.2s ease-in-out,
    border-color 0.2s ease-in-out, color 0.3s ease-in-out;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out,
    color 0.3s ease-in-out;
  width: auto;
  word-wrap: break-word;
  z-index: 0;
}
.widget .tagcloud a:hover,
.widget .tagcloud a:focus,
.widget.widget_tag_cloud a:hover,
.widget.widget_tag_cloud a:focus,
.wp_widget_tag_cloud a:hover,
.wp_widget_tag_cloud a:focus {
  background: #fdd333;
  -webkit-box-shadow: none;
  box-shadow: none;
  text-decoration: none;
}
.widget_calendar th,
.widget_calendar td,
.widget_calendar td,
.widget_calendar td {
  text-align: center;
  border: 1px solid;
}
/*-------------------- Media ----------------*/
img,
video {
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
}
img.alignleft,
img.alignright {
  float: none;
  margin: 0;
}
/*---------------- Media Queries ---------------*/
@media screen and (max-width: 720px) and (min-width: 320px) {
  .fixed-header {
    box-shadow: none;
    position: static;
    background: #fff;
  }
  .readbutton a {
    font-size: 12px;
  }
  #slider img {
    height: auto !important;
  }
  .page-template-home-custom #masthead {
    padding: 15px;
    background: #3c3e79;
    position: static;
  }
  .post-navigation .nav-next {
    margin-top: 0;
  }
  .main-navigation.toggled-on > div > ul {
    background-color: #fff;
  }
  #slider .inner_carousel {
    text-align: center;
  }
  #slider .carousel-caption {
    right: 15%;
  }
  #slider .carousel-control-prev {
    right: 21%;
  }
  #masthead {
    padding: 15px;
  }
  #about .about-text hr {
    width: 10%;
  }
  .site-footer .search-form .search-submit {
    padding: 13px;
  }
  .site-info {
    text-align: center !important;
  }
  .woocommerce ul.products.columns-3 li.product,
  .woocommerce-page ul.products.columns-3 li.product {
    width: 100%;
  }
  .footer_text {
    float: none;
  }
  .woocommerce .related ul.products li.product,
  .woocommerce-page .related ul.products li.product,
  .woocommerce form.login .form-row input.input-text {
    width: 100% !important;
  }
  .searchform-inner {
    top: 55%;
    width: 93%;
    padding: 25px;
    left: 3%;
    padding: 25px;
  }
  .searchform-inner .search-form .search-submit {
    padding: 13px;
    font-size: 14px;
  }
  .searchform-inner:before {
    content: none;
  }
  .alignwide {
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (max-width: 30em) {
  #slider .inner_carousel p {
    display: none;
  }
  #slider .inner_carousel h1 {
    font-size: 20px;
  }
  .custom-logo-link {
    float: none;
  }

  /* Fix image alignment */
  img.alignleft {
    float: left;
    margin-right: 1.5em;
  }
  img.alignright {
    float: right;
    margin-left: 1.5em;
  }
  .page-numbers.current {
    font-size: 16px;
  }
  .site-footer {
    font-size: 16px;
  }
  .widget_calendar th,
  .widget_calendar td {
    padding: 3px;
  }
}
@media screen and (max-width: 1030px) and (min-width: 1000px) {
  .post-info {
    font-size: 12px;
    padding: 5px 0;
  }
  .alignwide {
    margin-left: -35px;
    margin-right: -35px;
  }
  #slider .inner_carousel h1 {
    font-size: 35px;
  }
}
@media screen and (min-width: 48em) {
  h2,
  .home.blog .entry-title,
  .page .panel-content .recent-posts .entry-title {
    font-size: 26px;
  }
  .site-title {
    font-size: 33px;
    line-height: 1.2;
  }
  .site-description {
    font-size: 14px;
    font-weight: 500;
  }
  .navigation-top {
    bottom: 0;
    font-size: 14px;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 999;
  }
  .site-navigation-fixed.navigation-top {
    bottom: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
  }
  .admin-bar .site-navigation-fixed.navigation-top {
    top: 32px;
  }
  .menu-toggle,
  .dropdown-toggle {
    display: none;
  }
  .main-navigation {
    width: auto;
  }
  .main-navigation ul,
  .main-navigation ul ul,
  .main-navigation > div > ul {
    display: block;
  }
  .main-navigation ul {
    background: transparent;
    padding: 0;
  }
  .main-navigation > div > ul {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }
  .main-navigation li {
    padding: 15px 8px;
    border: 0;
    display: inline-block;
  }
  .main-navigation li li {
    display: block;
    padding: 0;
  }
  .main-navigation a {
    padding: 3px 5px;
    text-transform: capitalize;
    color: #3c3e79;
    font-weight: 600;
    font-size: 14px;
    border-bottom: none;
  }
  .main-navigation ul ul {
    background: #fff;
    left: -999em;
    padding: 0;
    position: absolute;
    top: 100%;
    z-index: 99999;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
  }
  .main-navigation ul li.menu-item-has-children:before,
  .main-navigation ul li.menu-item-has-children:after,
  .main-navigation ul li.page_item_has_children:before,
  .main-navigation ul li.page_item_has_children:after {
    border-style: solid;
    border-width: 0 6px 6px;
    content: "";
    display: none;
    height: 0;
    position: absolute;
    left: 2em;
    bottom: -1px;
    width: 0;
    z-index: 100000;
  }
  .main-navigation ul li.menu-item-has-children.focus:before,
  .main-navigation ul li.menu-item-has-children:hover:before,
  .main-navigation ul li.menu-item-has-children.focus:after,
  .main-navigation ul li.menu-item-has-children:hover:after,
  .main-navigation ul li.page_item_has_children.focus:before,
  .main-navigation ul li.page_item_has_children:hover:before,
  .main-navigation ul li.page_item_has_children.focus:after,
  .main-navigation ul li.page_item_has_children:hover:after {
    display: block;
  }
  .main-navigation ul li.menu-item-has-children:before,
  .main-navigation ul li.page_item_has_children:before {
    border-color: transparent transparent #bbb;
    bottom: 0;
  }
  .main-navigation ul li.menu-item-has-children:after,
  .main-navigation ul li.page_item_has_children:after {
    border-color: transparent transparent #fff;
  }
  .main-navigation ul ul li:hover > ul,
  .main-navigation ul ul li.focus > ul {
    left: 100%;
    right: auto;
    top: -1px;
  }
  .main-navigation ul ul a {
    padding: 0.75em 1.25em;
    width: 14em;
  }
  .main-navigation li li {
    -webkit-transition: background-color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
  }
  .main-navigation li li a {
    -webkit-transition: color 0.3s ease-in-out;
    transition: color 0.3s ease-in-out;
  }
  .main-navigation li li:focus > a,
  .main-navigation li li:hover > a {
    color: #3c3e79;
  }
  .main-navigation ul li:hover > ul,
  .main-navigation ul li.focus > ul {
    left: 0.5em;
    right: auto;
  }
  .main-navigation .menu-item-has-children > a > .icon,
  .main-navigation .page_item_has_children > a > .icon {
    display: inline;
    left: 5px;
    position: relative;
    top: -1px;
  }
  .main-navigation ul ul .menu-item-has-children > a > .icon,
  .main-navigation ul ul .page_item_has_children > a > .icon {
    margin-top: -9px;
    left: auto;
    position: absolute;
    right: 1em;
    top: 50%;
    -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
    -ms-transform: rotate(-90deg); /* IE 9 */
    transform: rotate(-90deg);
  }
  .main-navigation ul ul ul {
    left: -999em;
    top: 0;
  }
  .main-navigation ul ul li a {
    color: #3c3e79;
    border-bottom: 2px dashed #dfdfdf;
  }
  .main-navigation ul ul li:hover {
    border-left: 4px solid #3c3e79;
  }
  .header-menu .menu-item-has-children a:after {
    content: "\f078";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding: 10px;
    font-size: 12px;
  }
  .header-menu ul.sub-menu li:not(.menu-item-has-children) a:after {
    content: none;
  }
  .header-menu ul.sub-menu .menu-item-has-children a:after {
    content: "\f054";
    font-weight: 900;
    font-family: "Font Awesome 5 Free";
    padding: 10px;
    font-size: 12px;
    position: absolute;
    right: 0;
    top: 5px;
  }
  .single-post .entry-title,
  .page .entry-title {
    font-size: 26px;
  }
  .comments-pagination,
  .post-navigation {
    clear: both;
  }
  .post-navigation .nav-previous {
    float: left;
    width: 50%;
  }
  .post-navigation .nav-next {
    text-align: right;
  }
  .nav-next,
  .post-navigation .nav-next {
    margin-top: 0;
  }
  .navigation.pagination {
    clear: both;
  }
  ol.children .children {
    padding-left: 2em;
  }
  .nav-links .nav-title {
    position: relative;
  }
  .nav-title-icon-wrapper {
    position: absolute;
    text-align: center;
    width: 2em;
  }
  #secondary {
    font-size: 14px;
    line-height: 1.6;
  }
}
@media screen and (min-width: 67em) {
  .page-numbers {
    display: inline-block;
  }
  .page-numbers.current {
    font-size: 15px;
  }
}
@media screen and (max-width: 48.875em) and (min-width: 48em) {
  .admin-bar .site-navigation-fixed.navigation-top,
  .admin-bar .site-navigation-hidden.navigation-top {
    top: 46px;
  }
  h1.site-title {
    line-height: 0.7;
  }
  td,
  th {
    padding: 0px;
  }
}
@media screen and (min-width: 720px) and (max-width: 768px) {
  .page-template-home-custom #masthead {
    padding: 15px;
    background: #3c3e79;
    position: static;
  }
  .main-navigation a {
    padding: 20px 12px 10px;
  }
  #slider .carousel-caption {
    top: 45%;
    right: 30%;
  }
  .main-navigation li {
    padding: 0;
  }
  .woocommerce .related ul.products li.product,
  .woocommerce-page .related ul.products li.product {
    width: 47% !important;
    float: left !important;
    margin-right: 10px;
  }
  .woocommerce.widget ul.cart_list li img,
  .woocommerce.widget ul.product_list_widget li img {
    width: 40px;
    height: 40px;
  }
  .searchform-inner {
    top: 50%;
    right: 24%;
  }
  .alignwide {
    margin-left: -25px;
    margin-right: -25px;
  }
}
