
.depicter-revert.depicter-1 .depicter-layers-wrapper{
	padding-left:15px;
	padding-right:15px;
}
.depicter-revert .depicter-1-section-1 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-3 .depicter-section-background{
	background-color:#FFF;
}
.depicter-revert .depicter-1-section-6 .depicter-section-background{
	background-color:#FFF;
}

