/*
Theme Name: Webinar Education
Description: Webinar Education is specifically designed for e-learning, education LMS, university, schools, colleges, tution, kindergarten, book selling, elementary school, daycare, primary and secondary schools and all education and learning related websites. This WordPress theme includes everything you need for a complete online education centre and LMS. It uses LearnPress, the most famous WordPress LMS plugin because it comes with great features for your education centre, online courses or tutorial website, also its super easy to use. With this amazing theme, you can include your curriculum, courses, lessons, quizzes, payment integration, and much more. This versatile education WordPress theme includes 12 single and multi-page home page demos with clean and modern layouts. This makes it simple for users to navigate through your educational content. With one-click demo import option and Visual Composer drag and drop page builder, you can get started in no time and create a powerful online learning centre. It is fully responsive and cross-browser compatible. It is SEO-friendly too that takes care of your website’s ranking on major search engines like Google. It is translation-ready, so users can translate the pages into languages they are comfortable in. It is cleanly coded to provide the best user experience. <strong> LIVE DEMO: https://www.misbahwp.com/demo/webinar-education/</strong>
Author: misbahwp
Theme URI: https://www.misbahwp.com/themes/free-webinar-wordpress-theme/
Author URI: https://www.misbahwp.com/
Template: lms-education
Version: 0.7.3
Requires PHP: 7.2
Tested up to: 6.1
Requires at least: 5.0
Tags: blog, education, e-commerce, wide-blocks, one-column, two-columns, right-sidebar, custom-background, custom-colors, custom-header, custom-logo, custom-menu, featured-images, footer-widgets, full-width-template, editor-style, theme-options, threaded-comments, rtl-language-support
Text Domain: webinar-education
License: GNU General Public License v3 or later
License URI: http://www.gnu.org/licenses/gpl-3.0.html

Webinar Education WordPress Theme has been created by misbahwp(misbahwp.com), 2021.
Webinar Education WordPress Theme is released under the terms of GNU GPL
*/

#main-menu ul.children li a:hover, #main-menu ul.sub-menu li a:hover,.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce a.added_to_cart,.searchform input[type=submit],.sidebar-area .tagcloud a:hover,.comment-reply a,.comment-respond input#submit,.menu-toggle, .dropdown-toggle, button.close-menu,.slider-btn a,.pagination .nav-links a:hover, .pagination .nav-links a:focus, .pagination .nav-links span.current, .lms-education-pagination span.current, .lms-education-pagination span.current:hover, .lms-education-pagination span.current:focus, .lms-education-pagination a span:hover, .lms-education-pagination a span:focus {
	background-image: linear-gradient(to right, #f39f01 , #f73603);
}

#courses hr,.slider .owl-carousel button.owl-dot.active,.content_inner_box hr{
	border-color: #f39f01;
}

.searchform input[type=submit]:hover, .searchform input[type=submit]:focus,.header, footer,.woocommerce ul.products li.product .onsale, .woocommerce span.onsale,.comment-reply a:hover,nav.woocommerce-MyAccount-navigation ul li:hover,.slider-btn a:hover{
	background: #1e1f1f;
}

.register-top{
	background: #533f17;
}

.top-header{
	background: #f39f01;
}

.top-header span .dashicons{
	color: #533f17;
}
.page-template-frontpage .header{
	background: transparent;
}

a,h1, h2, h3, h4, h5, h6,.woocommerce ul.products li.product .price, .woocommerce div.product p.price, .woocommerce div.product span.price,.blog_inner_box h3.post-title a,.social-links i,.page-template-frontpage .logo a,.page-template-frontpage .logo span,.page-template-frontpage #main-menu ul li a{
	color: #1e1f1f;
}

#main-menu a:hover, #main-menu ul li a:hover, #main-menu li:hover > a, #main-menu a:focus, #main-menu ul li a:focus, #main-menu li.focus > a, #main-menu li:focus > a, #main-menu ul li.current-menu-item > a, #main-menu ul li.current_page_item > a, #main-menu ul li.current-menu-parent > a, #main-menu ul li.current_page_ancestor > a, #main-menu ul li.current-menu-ancestor > a,.post-meta i, a:focus,.courses-info strong,.courses-box-content h3 a,.social-links a:hover, .top-header p,.slider h3.post-title a,.header-search .open-search-form i, a.cart-customlocation i{
	color: #f39f01;
}

.sidebar-area h4.title{
	border-color: #1e1f1f;
}

.courses-box-content{
	background: rgb(34 34 34 / 90%);
}

.lp-archive-courses .course-summary .course-summary-content .course-detail-info{
	background: #1e1f1f !important;
}

#checkout-payment #checkout-order-action button, .learnpress-page .lp-button, .learnpress-page #lp-button{
	background: #f39f01 !important;;
}

.content_inner_box {
    left: 15%;
    right: 55%;
    text-align: left;
}

.blog_box {
    background: #000000;
}

.blog_box img {
    opacity: 0.6;
}

.blog_box p{
	color: #fff;
}

.slider-btn a {
    padding: 12px 20px;
    color: #fff;
    font-weight: bold;
}

.slider-btn {
    margin: 25px 0;
}

.courses-box-content {
    bottom: 0;
    left: 0;
    right: 0;
}

.courses-info {
    background: #fef7eb;
    padding: 10px 5px;
}

.features-content:nth-child(odd) {
	background: #f39f01;
}

.features-content:nth-child(even) {
	background: #f73603;
}

.features-icon span {
    font-size: 65px;
    width: auto;
    height: auto;
    color: #fff;
}

.features-content h5 {
    font-size: 20px;
    font-weight: 600;
    color: #fff;
}

.scroll-up a{
	background-image: linear-gradient(to right, #f39f01 , #f73603);
	color: #fff;
}

.scroll-up a:hover{
	background: #f39f01;
	color: #000;
}

.woocommerce a.added_to_cart {
    padding: 0.618em 2.2em;

}

@media screen and (min-width: 320px) and (max-width: 767px){
	.menu-toggle, .dropdown-toggle, button.close-menu,.header i.fa.fa-search, .header i.fas.fa-shopping-cart {
    	background: #f39f01 !important;
	}
	.header i.fa.fa-search, .header i.fas.fa-shopping-cart{
		color: #fff;
	}
	.blog_box p{
		display: none;
	}
	.slider-btn a {
	    font-size: 18px !important;
	}
	.top-header span{
		margin-top: 34px;
	}
}
