#customize-controls .control-section-iqra-education .accordion-section-title:hover,
#customize-controls .control-section-iqra-education .accordion-section-title:focus {
	background-color: #fff;
}
.control-section-iqra-education .accordion-section-title .button {
	margin-top:  -4px;
	font-weight: 400;
	margin-left: 8px;
}
.rtl .control-section-iqra-education .accordion-section-title .button {
	margin-left:  0;
	margin-right: 8px;
}

/* ---------Excerpt & Logo --------- */
input#_customize-input-iqra_education_excerpt_number,
input#_customize-input-iqra_education_slider_excerpt_number,
input#_customize-input-iqra_education_slider_opacity_color,
input#_customize-input-iqra_education_slider_speed,
input#_customize-input-iqra_education_scroll_top_fontsize,
input#_customize-input-iqra_education_comment_form_size,
input#_customize-input-iqra_education_featured_image_box_shadow {
    width: 100%;
}
input#_customize-input-logo_size{
    width: 100%;
}
li#customize-control-logo_size {
    background: #fff;
    padding: 4px;
}

/* ---------FontAwesome Icon Styles--------- */
.type-icon{
  overflow: hidden;
}
.selected-icon{
  background: #fff;
  height: 45px;
  line-height: 45px;
  text-align: center;
  border: 1px solid #EEE;
  position: relative;
  margin-right: 45px;
  cursor: pointer;
  font-size: 28px;
  width: 50px;
}
.selected-icon span{
  position: absolute;
  background: #fff;
  width: 220px;
  font-size: 15px;
}
.selected-icon i.fa.fa-angle-down {
  position: relative;
  left: 10px;
}
.icon-list{
  height: 215px;
  overflow-y: scroll;
  font-size: 18px;
  border: 1px solid #EEE;
  background: #fff;
  border-right: 0;
  border-top: 0;
  padding-bottom: 4%;
  display: none;
  cursor: pointer;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.icon-list li{
  float: left;
  margin: 4% 3% 0;
  height: 40px;
  width: 16%;
  text-align: center;
  line-height: 40px;
  border: 1px solid #EEE;  
}
.icon-list li:hover{
  background: #333;
  border: 1px solid #333;
  color: #FFF;
}
.icon-list li.icon-active{
  background: #0073aa;
  border: 1px solid #0073aa;
  color: #FFF;
}
.iqra-education-social-class{
  display: none;
}
.socialInput{
  padding: 10px;
  font-size: 16px;
}

